{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Signup" %}{% endblock title %}


{% block content %}

<!--page title-->
<div class="container-fluid title-content">
  <div class="py-3" style="font-size: 14px;">
    <div class="container mt-2">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item hover-underline-animation">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item">Instructor Registration</li>
        </ol>
      </nav>
      <h3 class="fw-normal mb-3 text-center" style="letter-spacing: 1px;">Instructor Registration</h3>
    </div>
  </div>
</div>

<!--main content-->
<div class="container-fluid">
  <div class="main-content py-3">
    <div class="row">
      <div class="col-lg-4 mx-auto">
        <div class="card mx-3 py-4 border-0">

          <!--
          <div class="row g-2">
            <div class="col-md">
              <a class="btn btn-primary btn-lg fs-6 w-100" href="#!" role="button">
                <i class="fab fa-google"></i>
                &nbsp;
                Login with Google
              </a>
            </div>
            <div class="col-md">
              <a class="btn btn-dark btn-lg fs-6 w-100" href="#!" role="button">
                <b>𝕏</b>
                &nbsp;
                Login with Twitter
              </a>
            </div>
          </div>

          <div id="or">OR</div>
        -->

          <div class="card shadow-sm" style="border-color: rgb(239, 239, 239);">
            <div class="card-body p-5">
              <h5>Instructor Registration</h5>
              <br>
              <form class="regForm" style="width: 100%;" method="POST">

                {% if form.non_field_errors %}
                <ul>
                  {% for error in form.non_field_errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}

                {% csrf_token %}

                {% comment %}
                {{ form.first_name }}
                {{ form.last_name }}
                {{ form.username }}
                {{ form.email }}
                {{ form.password1 }}
                {{ form.password2 }}
                {% endcomment %}

                <div class="form-outline mb-4">
                  <label class="form-label my-2" for="fname">First Name</label>
                  <input type="text" id="fname" name="first_name" class="form-control form-control-lg"
                    placeholder="e.g. Peter" />

                  {% if form.first_name.errors %}
                  <ul>
                    {% for error in form.first_name.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label my-2" for="lname">Last Name</label>
                  <input type="text" id="lname" name="last_name" class="form-control form-control-lg"
                    placeholder="e.g. Parker" />

                  {% if form.last_name.errors %}
                  <ul>
                    {% for error in form.last_name.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label my-2" for="uname">Username</label>
                  <input type="text" id="uname" name="username" class="form-control form-control-lg"
                    placeholder="parkerpeter" />
                  {% if form.username.errors %}
                  <ul>
                    {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label my-2" for="email">Email Address</label>
                  <input type="email" id="email" name="email" class="form-control form-control-lg"
                    placeholder="peterparker@email.com" />

                  {% if form.email.errors %}
                  <ul>
                    {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label my-2" for="pass">Password</label>
                  <input type="password" id="pass" name="password1" class="form-control form-control-lg"
                    placeholder="Password" />
                  {% if form.password1.errors %}
                  <ul>
                    {% for error in form.password1.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label my-2" for="cpass">Confirm Password</label>
                  <input type="password" id="cpass" name="password2" class="form-control form-control-lg"
                    placeholder="Confirm Password" />
                  {% if form.password2.errors %}
                  <ul>
                    {% for error in form.password2.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div>

                {{form.captcha}}

                {% if form.captcha.errors %}
                <ul>
                  {% for error in form.captcha.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}

                <input type="hidden" name="account_type" value="instructor" />

                <div class="d-grid gap-2 my-5">
                  <button class="btn btn-primary btn-lg" type="submit">Register</button>
                </div>


              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}