{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock title %}



{% block content %}

<!--main content-->
<div class="container-fluid bg-white">
  <div class="main-content py-3">
    <div class="row">
      <div class="col-lg-4 mx-auto">
        <div class="card mx-3 py-4 border-0">

          <div class="card shadow-sm" style="border-color: rgb(239, 239, 239);">
            <div class="card-body p-5">
              <div class="d-flex flex-column gap-4 mb-4">
                <div class="fs-5 fw-bold">Lost your password?</div>
                <small>Please enter your username or email address. You will receive a link to create a new password via
                  email.</small>
              </div>
              <form class="regForm" style="width: 100%;" method="POST">

                {% csrf_token %}

                <div class="form-outline mb-4">
                  <label class="form-label my-2" for="email">Username or Email address</label>
                  <input type="text" name="login" class="form-control form-control-lg" />
                </div>

                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <div class="d-grid gap-2">
                  <button class="btn btn-primary btn-lg" type="submit">Reset Password</button>
                </div>

              </form>


            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}