{% extends "dashboard/base.html" %}


{% block content %}
<div>
    <!--Page Title-->
    <div class="container-fluid title-content">
        <div class="py-3" style="font-size: 14px;">
            <div class="container mt-3">
                <h3 class="fw-normal mb-3" style="letter-spacing: 1px;">My Profile</h3>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">
        <div class="card">
            <div class="card-body">
                <table class="table table-borderless table-sm">
                    <thead>
                        <tr>
                            <td class="text-secondary" style="width: 150px;">Date Joined</td>
                            <td>{{user.date_joined}}</td>
                        </tr>
                        <tr>
                            <td class="text-secondary" style="width: 150px;">First Name</td>
                            <td>{{user.first_name}}</td>
                        </tr>
                        <tr>
                            <td class="text-secondary" style="width: 150px;">Last Name</td>
                            <td>{{user.last_name}}</td>
                        </tr>
                        <tr>
                            <td class="text-secondary" style="width: 150px;">Username</td>
                            <td>{{user.username}}</td>
                        </tr>
                        <tr>
                            <td class="text-secondary" style="width: 150px;">Email</td>
                            <td>{{user.email}}</td>
                        </tr>
                        <tr>
                            <td class="text-secondary" style="width: 150px;">Phone</td>
                            <td>{{user.phone|default:"________"}}</td>
                        </tr>
                        <tr>
                            <td class="text-secondary" style="width: 150px;">Job Title</td>
                            <td>{{user.job_title|default:"________"}}</td>
                        </tr>
                        <tr>
                            <td class="text-secondary" style="width: 150px;">Bio</td>
                            <td>{{user.bio|default:"________"}}</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}