{% extends "dashboard/base.html" %}


{% block content %}
<div>
    <!--Page Title-->
    <div class="container-fluid title-content">
        <div class="py-3" style="font-size: 14px;">
            <div class="container mt-3">
                <h3 class="fw-normal mb-3" style="letter-spacing: 1px;">My Profile</h3>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 150px;">Date Joined</th>
                            <td>{{user.date_joined}}</th>
                        </tr>
                        <tr>
                            <th style="width: 150px;">First Name</th>
                            <td>{{user.first_name}}</th>
                        </tr>
                        <tr>
                            <th style="width: 150px;">Last Name</th>
                            <td>{{user.last_name}}</th>
                        </tr>
                        <tr>
                            <th style="width: 150px;">Username</th>
                            <td>{{user.username}}</th>
                        </tr>
                        <tr>
                            <th style="width: 150px;">Email</th>
                            <td>{{user.email}}</th>
                        </tr>
                        <tr>
                            <th style="width: 150px;">Phone</th>
                            <td>{{user.phone}}</th>
                        </tr>
                        <tr>
                            <th style="width: 150px;">Job Title</th>
                            <td>{{user.job_title}}</th>
                        </tr>
                        <tr>
                            <th>Bio</th>
                            <td>{{user.bio}}</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}