@font-face {
  font-family: "tutor";
  src: url("../fonts/tutor.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "tutor";
  src: url("../fonts/tutor-v2.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="tutor-icon-"],
[class*=" tutor-icon-"] {
  font-family: "tutor" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tutor-icon-privacy:before {
  content: "ï¤€";
}
.tutor-icon-laptop:before {
  content: "ï¤";
}
.tutor-icon-desktop:before {
  content: "ï¤‚";
}
.tutor-icon-tablet:before {
  content: "ï¤ƒ";
}
.tutor-icon-mobile:before {
  content: "ï¤„";
}
.tutor-icon-map-pin:before {
  content: "ï¤…";
}
.tutor-icon-api:before {
  content: "ï¤†";
}
.tutor-icon-brand-buddypress:before {
  content: "î§ ";
}
.tutor-icon-brand-google-meet:before {
  content: "î¨¸";
}
.tutor-icon-brand-google-calendar:before {
  content: "î¨¹";
}
.tutor-icon-ban:before {
  content: "î¨»";
}
.tutor-icon-brand-woocommerce:before {
  content: "î¨¼";
}
.tutor-icon-kebab-menu:before {
  content: "î¤€";
}
.tutor-icon-add:before {
  content: "î¤";
}
.tutor-icon-add-photo:before {
  content: "î¤‚";
}
.tutor-icon-file-artboard:before {
  content: "î¤ƒ";
}
.tutor-icon-calender:before {
  content: "î¤„";
}
.tutor-icon-circle-mark:before {
  content: "î¤…";
}
.tutor-icon-certificate-portrait:before {
  content: "î¤†";
}
.tutor-icon-brand-zoom:before {
  content: "î¤‡";
}
.tutor-icon-clipboard:before {
  content: "î¤ˆ";
}
.tutor-icon-code:before {
  content: "î¤‰";
}
.tutor-icon-conversation:before {
  content: "î¤Š";
}
.tutor-icon-trophy-o:before {
  content: "î¤‹";
}
.tutor-icon-file-blank-page:before {
  content: "î¤Œ";
}
.tutor-icon-download:before {
  content: "î¤";
}
.tutor-icon-drag:before {
  content: "î¤Ž";
}
.tutor-icon-emoji:before {
  content: "î¤";
}
.tutor-icon-file-import:before {
  content: "î¤";
}
.tutor-icon-gallery:before {
  content: "î¤‘";
}
.tutor-icon-trash-can:before {
  content: "î¤’";
}
.tutor-icon-spectacles:before {
  content: "î¤“";
}
.tutor-icon-graduate-student:before {
  content: "î¤”";
}
.tutor-icon-grid-o:before {
  content: "î¤•";
}
.tutor-icon-user-group:before {
  content: "î¤–";
}
.tutor-icon-home-o:before {
  content: "î¤—";
}
.tutor-icon-down:before {
  content: "î¤˜";
}
.tutor-icon-left:before {
  content: "î¤™";
}
.tutor-icon-right:before {
  content: "î¤š";
}
.tutor-icon-up:before {
  content: "î¤›";
}
.tutor-icon-interactive:before {
  content: "î¤œ";
}
.tutor-icon-level:before {
  content: "î¤";
}
.tutor-icon-times:before {
  content: "î¤ž";
}
.tutor-icon-magnifying-glass:before {
  content: "î¤Ÿ";
}
.tutor-icon-hamburger-o:before {
  content: "î¤ ";
}
.tutor-icon-mortarboard-o:before {
  content: "î¤¡";
}
.tutor-icon-next:before {
  content: "î¤¢";
}
.tutor-icon-badge-percent:before {
  content: "î¤£";
}
.tutor-icon-book-open-o:before {
  content: "î¤¤";
}
.tutor-icon-pencil:before {
  content: "î¤¥";
}
.tutor-icon-previous:before {
  content: "î¤¦";
}
.tutor-icon-user-professor:before {
  content: "î¤§";
}
.tutor-icon-qa:before {
  content: "î¤¨";
}
.tutor-icon-receipt-line:before {
  content: "î¤©";
}
.tutor-icon-refund-o:before {
  content: "î¤ª";
}
.tutor-icon-page-review:before {
  content: "î¤«";
}
.tutor-icon-save-line:before {
  content: "î¤¬";
}
.tutor-icon-page-search:before {
  content: "î¤­";
}
.tutor-icon-share-nodes:before {
  content: "î¤®";
}
.tutor-icon-spinner:before {
  content: "î¤¯";
}
.tutor-icon-mortarboard:before {
  content: "î¤°";
}
.tutor-icon-user-student:before {
  content: "î¤±";
}
.tutor-icon-badge-percent-o:before {
  content: "î¤²";
}
.tutor-icon-money-bag:before {
  content: "î¤³";
}
.tutor-icon-badge-star:before {
  content: "î¤´";
}
.tutor-icon-update:before {
  content: "î¤µ";
}
.tutor-icon-upload-file:before {
  content: "î¤¶";
}
.tutor-icon-upload-o:before {
  content: "î¤·";
}
.tutor-icon-upload:before {
  content: "î¤¸";
}
.tutor-icon-add-group:before {
  content: "î¤¹";
}
.tutor-icon-add-image:before {
  content: "î¤º";
}
.tutor-icon-add-member:before {
  content: "î¤»";
}
.tutor-icon-angle-double-left:before {
  content: "î¤¼";
}
.tutor-icon-angle-double-right:before {
  content: "î¤½";
}
.tutor-icon-angle-down:before {
  content: "î¤¾";
}
.tutor-icon-angle-left:before {
  content: "î¤¿";
}
.tutor-icon-angle-right:before {
  content: "î¥€";
}
.tutor-icon-angle-up:before {
  content: "î¥";
}
.tutor-icon-ruler:before {
  content: "î¥‚";
}
.tutor-icon-assignment:before {
  content: "î¥ƒ";
}
.tutor-icon-paperclip:before {
  content: "î¥„";
}
.tutor-icon-volume:before {
  content: "î¥…";
}
.tutor-icon-authorized:before {
  content: "î¥†";
}
.tutor-icon-trophy:before {
  content: "î¥‡";
}
.tutor-icon-background:before {
  content: "î¥ˆ";
}
.tutor-icon-book-open:before {
  content: "î¥‰";
}
.tutor-icon-book:before {
  content: "î¥Š";
}
.tutor-icon-box-open:before {
  content: "î¥‹";
}
.tutor-icon-browser:before {
  content: "î¥Œ";
}
.tutor-icon-bullet-point:before {
  content: "î¥";
}
.tutor-icon-calender-bold:before {
  content: "î¥Ž";
}
.tutor-icon-calender-line:before {
  content: "î¥";
}
.tutor-icon-camera:before {
  content: "î¥";
}
.tutor-icon-cart-bold:before {
  content: "î¥‘";
}
.tutor-icon-cart-line:before {
  content: "î¥’";
}
.tutor-icon-ribbon:before {
  content: "î¥“";
}
.tutor-icon-certificate-landscape:before {
  content: "î¥”";
}
.tutor-icon-slider-horizontal:before {
  content: "î¥•";
}
.tutor-icon-chart-pie:before {
  content: "î¥–";
}
.tutor-icon-circle-info:before {
  content: "î¥—";
}
.tutor-icon-clock-bold:before {
  content: "î¥˜";
}
.tutor-icon-clock-line:before {
  content: "î¥™";
}
.tutor-icon-coding:before {
  content: "î¥š";
}
.tutor-icon-coins:before {
  content: "î¥›";
}
.tutor-icon-mortarboard-o:before {
  content: "î¥œ";
}
.tutor-icon-comment:before {
  content: "î¥";
}
.tutor-icon-buildings:before {
  content: "î¥ž";
}
.tutor-icon-clock-line-o:before {
  content: "î¥Ÿ";
}
.tutor-icon-copy:before {
  content: "î¥ ";
}
.tutor-icon-export:before {
  content: "î¥¡";
}
.tutor-icon-import:before {
  content: "î¥¢";
}
.tutor-icon-brand-learndash:before {
  content: "î¥£";
}
.tutor-icon-brand-learnpress:before {
  content: "î¥¤";
}
.tutor-icon-circle-times-line:before {
  content: "î¥¥";
}
.tutor-icon-circle-times-bold:before {
  content: "î¥¦";
}
.tutor-icon-times-o:before {
  content: "î¥§";
}
.tutor-icon-crown:before {
  content: "î¥¨";
}
.tutor-icon-slider-vertical:before {
  content: "î¥©";
}
.tutor-icon-dashboard:before {
  content: "î¥ª";
}
.tutor-icon-trash-can-bold:before {
  content: "î¥«";
}
.tutor-icon-trash-can-line:before {
  content: "î¥¬";
}
.tutor-icon-color-palette:before {
  content: "î¥­";
}
.tutor-icon-external-link:before {
  content: "î¥®";
}
.tutor-icon-badge-discount:before {
  content: "î¥¯";
}
.tutor-icon-badge-dollar:before {
  content: "î¥°";
}
.tutor-icon-text-add:before {
  content: "î¥±";
}
.tutor-icon-document-text:before {
  content: "î¥²";
}
.tutor-icon-dollar-slot:before {
  content: "î¥³";
}
.tutor-icon-door-open:before {
  content: "î¥´";
}
.tutor-icon-caret-up:before {
  content: "î¥µ";
}
.tutor-icon-download-bold:before {
  content: "î¥¶";
}
.tutor-icon-sort:before {
  content: "î¥·";
}
.tutor-icon-drop:before {
  content: "î¥¸";
}
.tutor-icon-hourglass-o:before {
  content: "î¥¹";
}
.tutor-icon-earth:before {
  content: "î¥º";
}
.tutor-icon-pencil-o:before {
  content: "î¥»";
}
.tutor-icon-edit:before {
  content: "î¥¼";
}
.tutor-icon-edit-o:before {
  content: "î¥½";
}
.tutor-icon-edit-square:before {
  content: "î¥¾";
}
.tutor-icon-open-book-o:before {
  content: "î¥¿";
}
.tutor-icon-envelope:before {
  content: "î¦€";
}
.tutor-icon-time-expired:before {
  content: "î¦";
}
.tutor-icon-eye-bold:before {
  content: "î¦‚";
}
.tutor-icon-eye-line:before {
  content: "î¦ƒ";
}
.tutor-icon-bookmark-bold:before {
  content: "î¦„";
}
.tutor-icon-bookmark-line:before {
  content: "î¦…";
}
.tutor-icon-hourglass:before {
  content: "î¦†";
}
.tutor-icon-filter-dollar:before {
  content: "î¦‡";
}
.tutor-icon-filter:before {
  content: "î¦ˆ";
}
.tutor-icon-folder:before {
  content: "î¦‰";
}
.tutor-icon-grade:before {
  content: "î¦Š";
}
.tutor-icon-grade-book:before {
  content: "î¦‹";
}
.tutor-icon-grid-bold:before {
  content: "î¦Œ";
}
.tutor-icon-grid-line:before {
  content: "î¦";
}
.tutor-icon-hand-holding-dollar:before {
  content: "î¦Ž";
}
.tutor-icon-heart-bold:before {
  content: "î¦";
}
.tutor-icon-home:before {
  content: "î¦";
}
.tutor-icon-hamburger-menu:before {
  content: "î¦‘";
}
.tutor-icon-light-bulb:before {
  content: "î¦’";
}
.tutor-icon-image-landscape:before {
  content: "î¦“";
}
.tutor-icon-images:before {
  content: "î¦”";
}
.tutor-icon-image-portrait:before {
  content: "î¦•";
}
.tutor-icon-add-image-o:before {
  content: "î¦–";
}
.tutor-icon-import-export:before {
  content: "î¦—";
}
.tutor-icon-import-o:before {
  content: "î¦˜";
}
.tutor-icon-flag:before {
  content: "î¦™";
}
.tutor-icon-circle-info-o:before {
  content: "î¦š";
}
.tutor-icon-ribbon-o:before {
  content: "î¦›";
}
.tutor-icon-instructor:before {
  content: "î¦œ";
}
.tutor-icon-copy-text:before {
  content: "î¦";
}
.tutor-icon-eye-slash-line:before {
  content: "î¦ž";
}
.tutor-icon-certificate-landscape-o:before {
  content: "î¦Ÿ";
}
.tutor-icon-layer:before {
  content: "î¦ ";
}
.tutor-icon-link:before {
  content: "î¦¡";
}
.tutor-icon-clipboard-list:before {
  content: "î¦¢";
}
.tutor-icon-lock-bold:before {
  content: "î¦£";
}
.tutor-icon-lock-line:before {
  content: "î¦¤";
}
.tutor-icon-user-bold:before {
  content: "î¦¥";
}
.tutor-icon-manual:before {
  content: "î¦¦";
}
.tutor-icon-circle-mark-o:before {
  content: "î¦§";
}
.tutor-icon-mark:before {
  content: "î¦¨";
}
.tutor-icon-mark-unread:before {
  content: "î¦©";
}
.tutor-icon-file-star:before {
  content: "î¦ª";
}
.tutor-icon-file-text:before {
  content: "î¦«";
}
.tutor-icon-arrow-right-left:before {
  content: "î¦¬";
}
.tutor-icon-media-manager:before {
  content: "î¦­";
}
.tutor-icon-meeting:before {
  content: "î¦®";
}
.tutor-icon-microphone:before {
  content: "î¦¯";
}
.tutor-icon-minus:before {
  content: "î¦°";
}
.tutor-icon-minus-o:before {
  content: "î¦±";
}
.tutor-icon-refund:before {
  content: "î¦²";
}
.tutor-icon-move:before {
  content: "î¦³";
}
.tutor-icon-slider-h:before {
  content: "î¦´";
}
.tutor-icon-slider-v:before {
  content: "î¦µ";
}
.tutor-icon-archive:before {
  content: "î¦¶";
}
.tutor-icon-important-bold:before {
  content: "î¦·";
}
.tutor-icon-important-line:before {
  content: "î¦¸";
}
.tutor-icon-open-envelope:before {
  content: "î¦¹";
}
.tutor-icon-message-unread:before {
  content: "î¦º";
}
.tutor-icon-double-mark:before {
  content: "î¦»";
}
.tutor-icon-bell-bold:before {
  content: "î¦¼";
}
.tutor-icon-bell-line:before {
  content: "î¦½";
}
.tutor-icon-text-width:before {
  content: "î¦¾";
}
.tutor-icon-order-down:before {
  content: "î¦¿";
}
.tutor-icon-order-up:before {
  content: "î§€";
}
.tutor-icon-ordering-a-z:before {
  content: "î§";
}
.tutor-icon-ordering-z-a:before {
  content: "î§‚";
}
.tutor-icon-paste:before {
  content: "î§ƒ";
}
.tutor-icon-play-line:before {
  content: "î§„";
}
.tutor-icon-plus-o:before {
  content: "î§…";
}
.tutor-icon-plus:before {
  content: "î§†";
}
.tutor-icon-plus-square:before {
  content: "î§‡";
}
.tutor-icon-eye-slash-bold:before {
  content: "î§ˆ";
}
.tutor-icon-print:before {
  content: "î§‰";
}
.tutor-icon-purchase-mark:before {
  content: "î§Š";
}
.tutor-icon-puzzle:before {
  content: "î§‹";
}
.tutor-icon-qr-code:before {
  content: "î§Œ";
}
.tutor-icon-question:before {
  content: "î§";
}
.tutor-icon-circle-question-mark:before {
  content: "î§Ž";
}
.tutor-icon-quiz:before {
  content: "î§";
}
.tutor-icon-quiz-attempt:before {
  content: "î§";
}
.tutor-icon-quiz-o:before {
  content: "î§‘";
}
.tutor-icon-receipt-bold:before {
  content: "î§’";
}
.tutor-icon-redo:before {
  content: "î§“";
}
.tutor-icon-refresh:before {
  content: "î§”";
}
.tutor-icon-refresh-o:before {
  content: "î§•";
}
.tutor-icon-report-time:before {
  content: "î§–";
}
.tutor-icon-save-bold:before {
  content: "î§—";
}
.tutor-icon-search:before {
  content: "î§˜";
}
.tutor-icon-paper-plane:before {
  content: "î§™";
}
.tutor-icon-gear:before {
  content: "î§š";
}
.tutor-icon-shape:before {
  content: "î§›";
}
.tutor-icon-share:before {
  content: "î§œ";
}
.tutor-icon-minimize:before {
  content: "î§";
}
.tutor-icon-shorting-bullet:before {
  content: "î§ž";
}
.tutor-icon-circle-notch:before {
  content: "î§Ÿ";
}
.tutor-icon-signout:before {
  content: "î§¡";
}
.tutor-icon-rocket:before {
  content: "î§¢";
}
.tutor-icon-bullhorn:before {
  content: "î§£";
}
.tutor-icon-star-bold:before {
  content: "î§¤";
}
.tutor-icon-star-half-bold:before {
  content: "î§¥";
}
.tutor-icon-star-line:before {
  content: "î§¦";
}
.tutor-icon-stopwatch:before {
  content: "î§§";
}
.tutor-icon-brush:before {
  content: "î§¨";
}
.tutor-icon-circle-mark-line:before {
  content: "î§©";
}
.tutor-icon-undo:before {
  content: "î§ª";
}
.tutor-icon-university:before {
  content: "î§«";
}
.tutor-icon-unlock-line:before {
  content: "î§¬";
}
.tutor-icon-caret-down:before {
  content: "î§­";
}
.tutor-icon-user-line:before {
  content: "î§®";
}
.tutor-icon-user-graduate:before {
  content: "î§¯";
}
.tutor-icon-verify-id:before {
  content: "î§°";
}
.tutor-icon-video-camera:before {
  content: "î§±";
}
.tutor-icon-video-camera-o:before {
  content: "î§²";
}
.tutor-icon-wallet:before {
  content: "î§³";
}
.tutor-icon-brand-facebook:before {
  content: "î§´";
}
.tutor-icon-brand-zoom-o:before {
  content: "î§µ";
}
.tutor-icon-circle-warning-outline:before {
  content: "î§¶";
}
.tutor-icon-website:before {
  content: "î§·";
}
.tutor-icon-circle-half:before {
  content: "î§¸";
}
.tutor-icon-zoom-in:before {
  content: "î§¹";
}
.tutor-icon-zoom-out:before {
  content: "î§º";
}
.tutor-icon-brand-github:before {
  content: "î§»";
}
.tutor-icon-brand-google:before {
  content: "î§¼";
}
.tutor-icon-brand-google-drive:before {
  content: "î§½";
}
.tutor-icon-brand-html5-bold:before {
  content: "î§¾";
}
.tutor-icon-brand-html5-line:before {
  content: "î§¿";
}
.tutor-icon-brand-instagram:before {
  content: "î¨€";
}
.tutor-icon-brand-linkedin:before {
  content: "î¨";
}
.tutor-icon-brand-myspace:before {
  content: "î¨‚";
}
.tutor-icon-brand-paid-membersip-pro:before {
  content: "î¨ƒ";
}
.tutor-icon-brand-reddit:before {
  content: "î¨„";
}
.tutor-icon-brand-skype:before {
  content: "î¨…";
}
.tutor-icon-brand-snapchat:before {
  content: "î¨†";
}
.tutor-icon-brand-soundcloud:before {
  content: "î¨‡";
}
.tutor-icon-brand-spotify:before {
  content: "î¨ˆ";
}
.tutor-icon-brand-tumblr:before {
  content: "î¨‰";
}
.tutor-icon-brand-twitter:before {
  content: "î¨Š";
}
.tutor-icon-brand-vimeo-bold:before {
  content: "î¨‹";
}
.tutor-icon-brand-vimeo-line:before {
  content: "î¨Œ";
}
.tutor-icon-brand-yelp:before {
  content: "î¨";
}
.tutor-icon-brand-youtube-bold:before {
  content: "î¨Ž";
}
.tutor-icon-brand-youtube-line:before {
  content: "î¨";
}
.tutor-icon-grade-o:before {
  content: "î¨";
}
.tutor-icon-file-ai:before {
  content: "î¨‘";
}
.tutor-icon-file-archive:before {
  content: "î¨’";
}
.tutor-icon-file-audio:before {
  content: "î¨“";
}
.tutor-icon-file-avi:before {
  content: "î¨”";
}
.tutor-icon-file-compress:before {
  content: "î¨•";
}
.tutor-icon-file-css:before {
  content: "î¨–";
}
.tutor-icon-file-csv:before {
  content: "î¨—";
}
.tutor-icon-file-dbf:before {
  content: "î¨˜";
}
.tutor-icon-file-doc:before {
  content: "î¨™";
}
.tutor-icon-file-document:before {
  content: "î¨š";
}
.tutor-icon-file-dwg:before {
  content: "î¨›";
}
.tutor-icon-file-exe:before {
  content: "î¨œ";
}
.tutor-icon-file-fla:before {
  content: "î¨";
}
.tutor-icon-file-html:before {
  content: "î¨ž";
}
.tutor-icon-image-file:before {
  content: "î¨Ÿ";
}
.tutor-icon-file-iso:before {
  content: "î¨ ";
}
.tutor-icon-file-json:before {
  content: "î¨¡";
}
.tutor-icon-file-js:before {
  content: "î¨¢";
}
.tutor-icon-file-jpg:before {
  content: "î¨£";
}
.tutor-icon-file-mp3:before {
  content: "î¨¤";
}
.tutor-icon-file-mp4:before {
  content: "î¨¥";
}
.tutor-icon-file-pdf:before {
  content: "î¨¦";
}
.tutor-icon-file-png:before {
  content: "î¨§";
}
.tutor-icon-file-ppt:before {
  content: "î¨¨";
}
.tutor-icon-file-psd:before {
  content: "î¨©";
}
.tutor-icon-file-rtf:before {
  content: "î¨ª";
}
.tutor-icon-file-spreadsheet:before {
  content: "î¨«";
}
.tutor-icon-file-svg:before {
  content: "î¨¬";
}
.tutor-icon-text-file:before {
  content: "î¨­";
}
.tutor-icon-file-txt:before {
  content: "î¨®";
}
.tutor-icon-video-file:before {
  content: "î¨¯";
}
.tutor-icon-file-xls:before {
  content: "î¨°";
}
.tutor-icon-file-xml:before {
  content: "î¨±";
}
.tutor-icon-file-zip:before {
  content: "î¨²";
}
.tutor-icon-circle-info-bold:before {
  content: "î¨³";
}
.tutor-icon-warning:before {
  content: "î¨¶";
}
.tutor-icon-shortcode:before {
  content: "î¨·";
}
