.tutor-gc-stream-classroom-info {
	background: $primary-color;
	padding: 33px 30px 39px;
	margin: 0 0 40px;

	> h3 {
		font-size: 20px;
		margin: 0 0 14px;
	}

	> p {
		font-size: 14px;
		font-weight: 500;
		margin: 0 0 25px;
	}

	.tutor-gc-class-code {
		display: inline-block;
		margin-right: 10px;
		font-size: 15px;
		font-weight: 700;
		height: 52px;
		line-height: 52px;
		padding: 0 20px;
		color: #fff;
		border-radius: 5px;
		background: rgba(255, 255, 255, .2);

		.tutor-gc-copy-text {
			font-size: 18px;
		}
	}

	.tutor-gc-class-go-to {
		display: inline-block;
		text-decoration: none !important;
		font-size: 15px;
		font-weight: 700;
		height: 52px;
		line-height: 52px;
		padding: 0 20px;
		color: $secondary-color !important;

		&:hover {
			color: #fff !important;
		}

		&:after {
			@extend %FontAwesomeRegular;
			content: '\f35d';
			font-size: 18px;
			margin: 0 0 0 10px;
		}
	}
}
