{% extends "dashboard/base.html" %}

{% load static %}
{% block content %}
<div>
    <!--Page Title-->
    <div class="container-fluid title-content">
        <div class="py-3">
            <div class="container mt-4">
                <h3 class="fw-normal mb-4" style="letter-spacing: 1px;">Dashboard</h3>
                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <div class="card-body d-flex gap-3 align-items-center">
                                <div class="p-3">
                                    <button
                                        style="width: 75px; height: 75px; background: #f4f7ff; color: #4e84fa; border: 1px solid #d3dffe;"
                                        class="btn btn-primary rounded-circle fs-2">
                                        <i class="far fa-book"></i>
                                    </button>
                                </div>
                                <div class="flex-full">
                                    <p class="fs-1 mb-0">2</p>
                                    <span class="text-muted">Enrolled Courses</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <div class="card-body d-flex gap-3 align-items-center">
                                <div class="p-3">
                                    <button
                                        style="width: 75px; height: 75px; background: #fffcf2; color: #ffc221; border: 1px solid #ffde89;"
                                        class="btn btn-primary rounded-circle fs-2">
                                        <i class="far fa-play"></i>
                                    </button>
                                </div>
                                <div class="flex-full">
                                    <p class="fs-1 mb-0">2</p>
                                    <span class="text-muted">Active Courses</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <div class="card-body d-flex gap-3 align-items-center">
                                <div class="p-3">
                                    <button
                                        style="width: 75px; height: 75px; background: #f6fbf7; color: #6cbd7e; border: 1px solid #daeedf;"
                                        class="btn btn-primary rounded-circle fs-2">
                                        <i class="far fa-check-circle"></i>
                                    </button>
                                </div>
                                <div class="flex-full">
                                    <p class="fs-1 mb-0">2</p>
                                    <span class="text-muted">Completed Courses</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <div class="card-body d-flex gap-3 align-items-center">
                                <div class="p-3">
                                    <button
                                        style="width: 75px; height: 75px; background: #fff8f8; color: #fc8a89; border: 1px solid #fdc0c0;"
                                        class="btn btn-primary rounded-circle fs-2">
                                        <i class="far fa-users"></i>
                                    </button>
                                </div>
                                <div class="flex-full">
                                    <p class="fs-1 mb-0">2</p>
                                    <span class="text-muted">Total Students</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <div class="card-body d-flex gap-3 align-items-center">
                                <div class="p-3">
                                    <button
                                        style="width: 75px; height: 75px; background: #f8f8ff; color: #7f86ff; border: 1px solid #bbbeff;"
                                        class="btn btn-primary rounded-circle fs-2">
                                        <i class="far fa-backpack"></i>
                                    </button>
                                </div>
                                <div class="flex-full">
                                    <p class="fs-1 mb-0">2</p>
                                    <span class="text-muted">Total Courses</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <div class="card-body d-flex gap-3 align-items-center">
                                <div class="p-3">
                                    <button
                                        style="width: 75px; height: 75px; background: #fff9f6; color: #f49263; border: 1px solid #f9c5ac;"
                                        class="btn btn-primary rounded-circle fs-2">
                                        <i class="far fa-rupee-sign"></i>
                                    </button>
                                </div>
                                <div class="flex-full">
                                    <p class="fs-1 mb-0">₹0<span class="fs-4">.00</span></p>
                                    <span class="text-muted">Total Earnings</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}