{% extends "dashboard/base.html" %}

{% load static %}
{% block content %}
<div>
    <!--Page Title-->
    <div class="container-fluid title-content">
        <div class="py-3">
            <div class="container mt-4">
                <h3 class="fw-normal mb-3" style="letter-spacing: 1px;">Enrolled Courses</h3>
                <div class="d-flex gap-4 border-bottom mt-3">
                    <a href="#" class="flex-1 text-primary border-bottom border-2 px-4 py-2"
                        style="border-color: #0071dc !important;">
                        All Courses
                    </a>
                    <a href="#" class="flex-1 px-4 py-2">
                        Active Courses
                    </a>
                    <a href="#" class="flex-1 px-4 py-2">
                        Completed Courses
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container my-3">


        <div class="card mb-4" style="max-width: 950px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 bg-dange">
                        <div class="rounded"
                            style="width: 100%; height: 200px; background: url({% static 'images/thumbnail-placeholder.svg' %}); background-position: center; background-size: cover;">
                        </div>
                    </div>
                    <div class="col-md-8 bg-succes">
                        <div class="py-3 d-flex align-content-center justify-content-center flex-wrap"
                            style="width: 100%;">
                            <div style="width: 100%; height: 135px;">
                                <span class="greet-text">
                                    <i class="fal fa-star fa-sm" style="color: #ffa600; font-size: 14px;"></i>
                                    <i class="fal fa-star fa-sm" style="color: #ffa600; font-size: 14px;"></i>
                                    <i class="fal fa-star fa-sm" style="color: #ffa600; font-size: 14px;"></i>
                                    <i class="fal fa-star fa-sm" style="color: #ffa600; font-size: 14px;"></i>
                                    <i class="fal fa-star fa-sm" style="color: #ffa600; font-size: 14px;"></i>
                                    <small class="text-muted" style="font-size: 15px;">(2/5)</small>
                                </span>
                                <div class="my-1">
                                    <b>New Course</b>
                                </div>
                                <div class="d-flex gap-3" style="font-size: 14px;">
                                    <span class="text-muted">Total Lessons: <b>0</b></span>
                                    <span class="text-muted">Completed Lessons: <b>3/3</b></span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-3" style="width: 100%;">
                                <div class="progress flex-fill" role="progressbar" aria-label="course progress"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 5px;">
                                    <div class="progress-bar" style="width: 25%;"></div>
                                </div>
                                <span class="text-muted text-center" style="width: auto;">25 % Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock content %}