.tp-event-notice {
	margin: 10px 0 2em !important;
	position: relative;
	list-style: none !important;
	width: auto;
	word-wrap: break-word;
	color: #333 !important;

	&.success {
		color: #333;
		background: #d9edf7;
		padding: 10px 15px !important;
	}

	&.error {
		padding: 1em 2em 1em 1.5em !important;
		background-color: #fdb494;
		color: #333;
		border-left: 3px solid #c35a2c;
	}
}
