{% extends "base.html" %}
{% load static my_extras %}
{% block title %}Skilled MBA{% endblock title %}

{% block content %}
<script src="https://cdn.ckeditor.com/ckeditor5/39.0.0/classic/ckeditor.js"></script>

<link rel="stylesheet" href="{% static 'css/courseContent.css' %}" />

<div class="container-fluid bg-white">
    <div class="container py-4">
        <!--page title-->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}" class="hover-underline-animation">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" class="hover-underline-animation">Courses</a>
                </li>
                <li class="breadcrumb-item">{{course.title}}</li>
            </ol>
        </nav>
    </div>

    <div>
        <div class="row">
            {% include 'courseContents/sidebar.html' with course=course topic_item=assignment.topic_item enrollment=enrollment %}

            <div class="content flex-fill position-relative col-lg-8">
                <button class="toggleSidebar position-absolute btn text-primary rounded-0 rounded-end shadow-sm"
                    style="left: 0px; width: 50px; background: white;">
                    <i class="fas fa-exchange"></i>
                </button>
                <div class="container">
                    <!--Content Header-->
                    <div class="p-3 rounded" style="background: #031f42; color: white;">
                        <div class="d-flex justify-content-between">
                            <div>
                                <i class="far fa-home text-warning"></i>
                                &nbsp;
                                <small style="font-weight: 500;">
                                    <a href="{% url 'courses:course_details' course.pk course.slug %}" class="text-light">Go to course home</a>
                                </small>
                            </div>
                            <div>
                                <i class="far fa-file-edit text-warning"></i>
                                &nbsp;
                                <small style="font-weight: 500;">{{assignment.title}}</small>
                            </div>
                        </div>
                    </div>
                    <!--Main Content-->
                    <div class="py-5">
                        <h5 class="mb-5">
                            {{assignment.title}}
                        </h5>

                        <div class="d-flex py-4 my-4 justify-content-between border-top border-bottom gap-5 flex-wrap">
                            <div class="d-flex gap-5">
                                <div>
                                    <span class="text-muted">Duration:</span>
                                    <b>{{assignment.get_time_limit_display}} {{assignment.get_time_limit_unit_display}}</b>
                                </div>
                                {% comment %} 
                                <div>
                                    <span class="text-muted">Deadline:</span>
                                    <b>5 Days, 21 Hours</b>
                                </div> 
                                {% endcomment %}
                            </div>
                            <div class="d-flex gap-5">
                                <div>
                                    <span class="text-muted">Total Marks:</span>
                                    <b>{{assignment.total_points}}</b>
                                </div>
                                <div>
                                    <span class="text-muted">Passing Mark:</span>
                                    <b>{{assignment.min_pass_points}}</b>
                                </div>
                            </div>
                        </div>

                        <!--Main Content pre-start assignment-->
                        <div class="mb-4 fw-bold">Description</div>
                        <div class="text-muted mb-5">
                            <p>{{ assignment.summary|safe }}</p>
                        </div>

                        <div class="row my-5">
                            {% for attachment in assignment.attachments.all %}
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="p-3" style="max-width: 90%;">
                                                <div class="text-truncate mb-2" style="max-width: 100%;">
                                                    {{attachment.file.url|get_filename}}
                                                </div>
                                                <small class="text-muted">Size: {{ attachment.get_size }}</small>
                                            </div>
                                            <a href="{{ attachment.file.url }}" download="{{ attachment.file.url|get_filename }}" class="btn btn-outline-primary border rounded-circle px-2 py-1"
                                                aria-expanded="false">
                                                <i class="fal fa-sm fa-cloud-download-alt"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="d-flex justify-content-end">
                            <a class="btn btn-outline-primary px-3 py-2" href="{{assignment.topic_item.get_next_item|get_topic_item_url}}">
                                Skip To Next
                            </a>
                        </div>

                        <hr class="my-5">

                        <!--Main Content post-start assignment-->
                        <div class="mb-4 fw-bold">Assignment Submission</div>

                        <div class="form-outline mb-4">
                            <label class="form-label my-2">Assignment answer form</label>
                            <div id="editor">{{ course.description|safe }}</div>
                        </div>

                        <style>
                            .ck-editor__editable_inline {
                                min-height: 200px;
                            }
                        </style>

                        <div class="card mb-4 border-0 p-4" style="background-color: #f0f1f6;">
                            <div class="card-body">
                                <p class="text-muted mb-4">Attach assignment files (Max: 1 file)</p>
                                <div class="d-flex gap-4">
                                    <div>
                                        <div class="mb-3 d-none">
                                            <input id="assignmentInput" class="form-control" type="file" multiple>
                                        </div>
                                        <button onclick="$('#assignmentInput').click();"
                                            class="btn btn-primary px-3 py-2">
                                            Choose File
                                        </button>
                                    </div>
                                    <div class="text-muted">
                                        <p>
                                            File support: <b>Any standard Image, Document, Presentation, Sheet, PDF or
                                                Text file is allowed</b>
                                        </p>
                                        <p>Total File Size: Max <b>2 MB</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <button class="btn btn-primary px-3 py-2">
                                Submit Assignment
                            </button>
                        </div>

                        
                        <!--post-start assignment till here-->

                    </div>
                </div>
            </div>
        </div>
        <div class="backdrop"></div>
    </div>
</div>

{% include 'loginPopup.html' %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>

    ClassicEditor.create(document.querySelector("#editor"));

    const windowWidth = $(window).width();

    if (windowWidth < 992) {
        $(".toggleSidebar").click(function () {
            activate();
        });
        $(".backdrop").click(function () {
            deactivate();
        });
        function activate() {
            $(".sidebar").css("left", "0px");
            $(".backdrop").show();
        }
        function deactivate() {
            $(".sidebar").css("left", "-350px");
            $(".backdrop").hide();
        }
    }

    if (windowWidth > 992) {
        $(".toggleSidebar").click(function () {
            $(".sidebar").toggle();
        });
    }

    $(document).ready(function () {
        $("#close-login-cta").click(function () {
            $(".login-cta").hide();
        });
    });

    $(".section").click(function () {
        $(this).children(".fal").toggleClass("fa-minus fa-plus");
    });

    function showToastr(type, title, message) {
        toastr.options.positionClass = 'toast-bottom-right';
        toastr.options.progressBar = true;
        toastr.options.timeOut = 5000;
        toastr.options.extendedTimeOut = 5000;
        toastr[type](message, title);
    }

    $(document).ready(function onDocumentReady() {

        $("#assignmentInput").on("change", function () {
            if (this.files.length > 1) {
                showToastr('error', 'Max 1 upload', 'Only 1 file can be uploaded..');
                // Clear the file input (optional)
                $(this).val("");
            }
            if (this.files.length > 0) {
                var fileSize = this.files[0].size;
                var maxSize = 2 * 1024 * 1024;
                if (fileSize > maxSize) {
                    //types : succcess, info, warning, error
                    showToastr('error', 'Size exceeded', 'Selected media file is larger than 2MB.');
                    $(this).val("");
                }
            }
        });
    });
</script>
{% endblock content %}