{% extends "base.html" %}
{% load static my_extras %}
{% block title %}Skilled MBA{% endblock title %}

{% block content %}
<style>
    .tab-content {
        display: none;
    }

    .activeTab {
        display: block;
    }

    .tab-link:hover {
        color: #0071dc !important;
    }
</style>

<link rel="stylesheet" href="{% static 'css/courseContent.css' %}" />

<div class="container-fluid bg-white">
    <div class="container py-4">
        <!--page title-->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}" class="hover-underline-animation">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" class="hover-underline-animation">Courses</a>
                </li>
                <li class="breadcrumb-item">{{course.title}}</li>
            </ol>
        </nav>
    </div>

    <div>
        <div class="row">
            {% include 'courseContents/sidebar.html' with course=course topic_item=lesson.topic_item enrollment=enrollment %}

            <div class="content flex-fill position-relative col-lg-8">
                <button class="toggleSidebar position-absolute btn text-primary rounded-0 rounded-end shadow-sm"
                    style="left: 0px; width: 50px; background: white;">
                    <i class="fas fa-exchange"></i>
                </button>
                <div class="container">
                    <!--Content Header-->
                    <div class="p-3 rounded" style="background: #031f42; color: white;">
                        <div class="d-flex flex-wrap gap-3 justify-content-between align-items-center">
                            <div>
                                <i class="far fa-home text-warning"></i>
                                &nbsp;
                                <small style="font-weight: 500;">
                                    <a href="{% url 'courses:course_details' course.pk course.slug %}"
                                        class="text-light">Go to course home</a>
                                </small>
                            </div>
                            <div>
                                <i class="far fa-file-alt text-warning"></i>
                                &nbsp;
                                <small style="font-weight: 500;">{{lesson.title}}</small>
                            </div>
                            <div>
                                {% if lesson not in enrollment.completed_lessons.all %}
                                <form method="POST" action="{% url 'courses:mark_lesson_complete' lesson.pk %}">
                                    {% csrf_token %}
                                    <button class="btn btn-outline-warning btn-sm px-3 py-2">
                                        <i class="fas fa-check-circle"></i> Mark as Complete
                                    </button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--Main Content-->
                    <div class="d-flex flex-wrap gap-3 border-bottom mt-5 justify-content-center">
                        <span class="tab-link flex-1 px-4 py-2"
                            style="border-color: #0071dc !important; cursor: pointer;" data-tab="overview">
                            <i class="far fa-copy"></i>&nbsp;Overview
                        </span>
                        {% comment %} <span class="tab-link flex-1 px-4 py-2"
                            style="border-color: #0071dc !important; cursor: pointer;" data-tab="exercise_files">
                            <i class="far fa-paperclip"></i>&nbsp;Exercise&nbsp;Files
                        </span> {% endcomment %}
                        <span class="tab-link flex-1 px-4 py-2"
                            style="border-color: #0071dc !important; cursor: pointer;" data-tab="comments">
                            <i class="far fa-comment-alt-lines"></i>&nbsp;Comments
                        </span>
                    </div>
                    <!--overview-->
                    <div id="overview" class="tab-content">
                        <div class="py-5">
                            <h1><b>{{lesson.title}}</b></h1>
                            {{ lesson.content|safe }}
                            <div class="row my-5">
                                {% for attachment in lesson.attachments.all %}
                                <div class="col-md-4 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="p-3" style="max-width: 90%;">
                                                    <div class="text-truncate mb-2" style="max-width: 100%;">
                                                        {{attachment.file.url|get_filename}}
                                                    </div>
                                                    <small class="text-muted">Size: {{ attachment.get_size }}</small>
                                                </div>
                                                <a href="{{ attachment.file.url }}"
                                                    download="{{ attachment.file.url|get_filename }}"
                                                    class="btn btn-outline-primary border rounded-circle px-2 py-1"
                                                    aria-expanded="false">
                                                    <i class="fal fa-sm fa-cloud-download-alt"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!--exercise_files-->
                    <div id="exercise_files" class="tab-content containr">
                        <div class="fw-bold fs-5 my-4 mt-5">Exercise Files</div>
                        <div class="row my-5">
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="p-3" style="max-width: 90%;">
                                                <div class="text-truncate mb-2" style="max-width: 100%;">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
                                                    dolores ipsa quas libero eaque repellat, doloremque expedita
                                                    autem!
                                                    Ipsa totam impedit natus doloremque quidem, perferendis
                                                    voluptatem
                                                    blanditiis nulla. Inventore, delectus.
                                                </div>
                                                <small class="text-muted">Size: 121.45 KB</small>
                                            </div>
                                            <button class="btn btn-outline-primary border rounded-circle px-2 py-1"
                                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fal fa-sm fa-cloud-download-alt"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="p-3" style="max-width: 90%;">
                                                <div class="text-truncate mb-2" style="max-width: 100%;">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
                                                    dolores ipsa quas libero eaque repellat, doloremque expedita
                                                    autem!
                                                    Ipsa totam impedit natus doloremque quidem, perferendis
                                                    voluptatem
                                                    blanditiis nulla. Inventore, delectus.
                                                </div>
                                                <small class="text-muted">Size: 121.45 KB</small>
                                            </div>
                                            <button class="btn btn-outline-primary border rounded-circle px-2 py-1"
                                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fal fa-sm fa-cloud-download-alt"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="p-3" style="max-width: 90%;">
                                                <div class="text-truncate mb-2" style="max-width: 100%;">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
                                                    dolores ipsa quas libero eaque repellat, doloremque expedita
                                                    autem!
                                                    Ipsa totam impedit natus doloremque quidem, perferendis
                                                    voluptatem
                                                    blanditiis nulla. Inventore, delectus.
                                                </div>
                                                <small class="text-muted">Size: 121.45 KB</small>
                                            </div>
                                            <button class="btn btn-outline-primary border rounded-circle px-2 py-1"
                                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fal fa-sm fa-cloud-download-alt"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--comments-->
                    <div id="comments" class="tab-content">
                        <div class="container">
                            <div class="fw-bold fs-5 my-4 mt-5">Join the conversation</div>
                            <div>
                                <div class="mb-5">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#commentModal">
                                            Write a comment
                                        </button>

                                        <!-- Q&A Modal -->
                                        <div class="modal fade" id="commentModal" tabindex="-1"
                                            aria-labelledby="commentModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="commentModalLabel">Write a comment
                                                        </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <textarea class="form-control" name="comment" cols="30"
                                                            rows="10"></textarea>
                                                    </div>
                                                    <div class="modal-footer d-flex gap-4 justify-content-center">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Cancel</button>
                                                        <button type="button" class="btn btn-primary">Post Comment</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="my-4">
                                        <!--Question 1-->
                                        <div class="d-flex align-items-cente gap-3">
                                            <div style="width: 50px; height: 50px; font-size: 25px; background: #f1f3f8;"
                                                class="rounded-circle d-flex align-items-center justify-content-center text-primary">
                                                <img src="https://placehold.co/35x35" alt="testi" style="width: 100%;"
                                                    class="img-fluid rounded-circle">
                                            </div>
                                            <div class="d-flex flex-column gap-3" style="font-size: 14px; width: 100%;">
                                                <div>
                                                    <b>Om Dahale</b>
                                                    <span class="text-muted">36 seconds ago</span>
                                                </div>
                                                <div class="p-3 rounded" style="background: #f8f8f8;">
                                                    how to do this?
                                                </div>
                                                <!--Answer 1-->
                                                <div class="d-flex align-items-cente gap-3">
                                                    <div style="width: 50px; height: 50px; font-size: 25px; background: #f1f3f8;"
                                                        class="rounded-circle d-flex align-items-center justify-content-center text-primary">
                                                        <img src="https://placehold.co/35x35" alt="testi"
                                                            style="width: 100%;" class="img-fluid rounded-circle">
                                                    </div>
                                                    <div class="d-flex flex-column gap-3"
                                                        style="font-size: 14px; width: 100%;">
                                                        <div>
                                                            <b>Om Dahale</b>
                                                            <span class="text-muted">36 seconds ago</span>
                                                        </div>
                                                        <div class="p-3 rounded" style="background: #f8f8f8;">
                                                            how to do what?
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Answer 2-->
                                                <div class="d-flex align-items-cente gap-3">
                                                    <div style="width: 50px; height: 50px; font-size: 25px; background: #f1f3f8;"
                                                        class="rounded-circle d-flex align-items-center justify-content-center text-primary">
                                                        <img src="https://placehold.co/35x35" alt="testi"
                                                            style="width: 100%;" class="img-fluid rounded-circle">
                                                    </div>
                                                    <div class="d-flex flex-column gap-3"
                                                        style="font-size: 14px; width: 100%;">
                                                        <div>
                                                            <b>Om Dahale</b>
                                                            <span class="text-muted">36 seconds ago</span>
                                                        </div>
                                                        <div class="p-3 rounded" style="background: #f8f8f8;">
                                                            i don't know, ask the expert
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-end mt-4">
                                                    <button class="btn btn-warning">Reply</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                    <div class="d-flex justify-content-between gap-3 my-4">
                        <a class="btn btn-outline-primary px-3 py-2"
                            href="{{ lesson.topic_item.get_prev_item|get_topic_item_url }}">
                            <i class="fas fa-arrow-left"></i> &nbsp;&nbsp; Previous
                        </a>
                        <a class="btn btn-outline-primary px-3 py-2"
                            href="{{ lesson.topic_item.get_next_item|get_topic_item_url }}">
                            Next &nbsp;&nbsp; <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="backdrop"></div>
    </div>
</div>

{% include 'loginPopup.html' %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>

    $(document).ready(function () {
        const urlParams = new URLSearchParams(window.location.search);
        const pageTab = urlParams.get("page_tab");
        const activeTab = pageTab || "overview";
        $("#" + activeTab).show().addClass("activeTab");
        $(".tab-link[data-tab='" + activeTab + "']").addClass("activeTab text-primary border-bottom border-2");
        $(".tab-link").click(function () {
            const tabId = $(this).data("tab");
            history.pushState({}, "", "?page_tab=" + tabId);
            $(".tab-content").hide().removeClass("activeTab");
            $(".tab-link").removeClass("activeTab text-primary text-muted border-bottom border-2");
            $("#" + tabId).show().addClass("activeTab");
            $(this).addClass("activeTab text-primary border-bottom border-2");
            $(".tab-link:not(.activeTab)").addClass("text-muted");
        });
        $(".tab-link:not(.activeTab)").addClass("text-muted");
    });

    const windowWidth = $(window).width();

    if (windowWidth < 992) {
        $(".toggleSidebar").click(function () {
            activate();
        });
        $(".backdrop").click(function () {
            deactivate();
        });
        function activate() {
            $(".sidebar").css("left", "0px");
            $(".backdrop").show();
        }
        function deactivate() {
            $(".sidebar").css("left", "-350px");
            $(".backdrop").hide();
        }
    }

    if (windowWidth > 992) {
        $(".toggleSidebar").click(function () {
            $(".sidebar").toggle();
        });
    }

    $(document).ready(function () {
        $("#close-login-cta").click(function () {
            $(".login-cta").hide();
        });
    });

    $(".section").click(function () {
        $(this).children(".fal").toggleClass("fa-minus fa-plus");
    });
</script>
{% endblock content %}