{% extends "base.html" %}
{% load static %}
{% block title %}Skilled MBA{% endblock title %}

{% block content %}
<script src="https://cdn.ckeditor.com/ckeditor5/39.0.0/classic/ckeditor.js"></script>

<link rel="stylesheet" href="{% static 'css/courseContent.css' %}" />

<div class="container-fluid bg-white">
    <div class="container py-4">
        <!--page title-->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#" class="hover-underline-animation">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" class="hover-underline-animation">Courses</a>
                </li>
                <li class="breadcrumb-item">{{course.title}}</li>
            </ol>
        </nav>
    </div>

    <div>
        <div class="row">
            {% include 'courseContents/sidebar.html' with course=course topic_item=quiz.topic_item enrollment=enrollment %}

            <div class="content flex-fill position-relative col-lg-8">
                <button class="toggleSidebar position-absolute btn text-primary rounded-0 rounded-end shadow-sm"
                    style="left: 0px; width: 50px; background: white;">
                    <i class="fas fa-exchange"></i>
                </button>
                <div class="container">
                    <!--Content Header-->
                    <div class="p-3 rounded" style="background: #031f42; color: white;">
                        <div class="d-flex justify-content-between">
                            <div>
                                <i class="far fa-home text-warning"></i>
                                &nbsp;
                                <small style="font-weight: 500;">
                                    <a href="#" class="text-light">Go to course home</a>
                                </small>
                            </div>
                            <div>
                                <i class="far fa-question-circle text-warning"></i>
                                &nbsp;
                                <small style="font-weight: 500;">{{ quiz.title }}</small>
                            </div>
                        </div>
                    </div>
                    <!--Main Content-->
                    <div class="py-5">
                        <h3 class="fw-bold">
                            {{quiz.title}}
                        </h3>
                        <b>
                            <span class="text-muted">Course: </span>{{course.title}}
                        </b>
                        <div class="card my-5 px-3 py-4 border-0" style="background-color: #f4f9ff;">
                            <div class="card-body">
                                <div class="d-flex justify-content-between gap-5 flex-wrap">
                                    <div class="d-flex flex-column gap-2">
                                        <span class="text-muted">Questions</span>
                                        <span>{{quiz.get_questions_count}}</span>
                                    </div>
                                    <div class="d-flex flex-column gap-2">
                                        <span class="text-muted">Allowed Attemtps</span>
                                        <span>{{quiz.max_attempts_allowed}}</span>
                                    </div>
                                    <div class="d-flex flex-column gap-2">
                                        <span class="text-muted">Attempted</span>
                                        <span>0</span>
                                    </div>
                                    <div class="d-flex flex-column gap-2">
                                        <span class="text-muted">Attempts Remaining</span>
                                        <span>{{quiz.max_attempts_allowed}}</span>
                                    </div>
                                    <div class="d-flex flex-column gap-2">
                                        <span class="text-muted">Passing Grade</span>
                                        <span>{{quiz.passing_percentage}} %</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        {% comment %}                         
                        <div class="card-body p-0 table-responsive border rounded">
                            <table class="table m-0 align-middle">
                                <thead>
                                    <tr>
                                        <td scope="col" class="py-3 px-4 text-muted"
                                            style="font-size: 15px; background: #f4f9ff;">
                                            #
                                        </td>
                                        <td scope="col" class="py-3 px-4 text-muted"
                                            style="font-size: 15px; background: #f4f9ff;">
                                            Time
                                        </td>
                                        <td scope="col" class="py-3 px-4 text-muted"
                                            style="font-size: 15px; background: #f4f9ff;">
                                            Questions
                                        </td>
                                        <td scope="col" class="py-3 px-4 text-muted"
                                            style="font-size: 15px; background: #f4f9ff;">
                                            Total&nbsp;Marks
                                        </td>
                                        <td scope="col" class="py-3 px-4 text-muted"
                                            style="font-size: 15px; background: #f4f9ff;">
                                            Earned&nbsp;Marks
                                        </td>
                                        <td scope="col" class="py-3 px-4 text-muted"
                                            style="font-size: 15px; background: #f4f9ff;">
                                            Pass&nbsp;Marks
                                        </td>
                                        <td class="py-3 px-4 text-muted" style="font-size: 15px; background: #f4f9ff;">
                                            Result
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="p-4" style="font-size: 15px;">
                                            1
                                        </td>
                                        <td class="p-4 text-muted" style="font-size: 15px;">
                                            August 27, 2023 4:15 pm
                                        </td>
                                        <td class="p-4" style="font-size: 15px;">1</td>
                                        <td class="p-4" style="font-size: 15px;">1</td>
                                        <td class="p-4" style="font-size: 15px;">0</td>
                                        <td class="p-4" style="font-size: 15px;">1.00 (80%)</td>
                                        <td class="p-4" style="font-size: 15px;">
                                            <div class="alert alert-danger py-1 px-2 mb-0 text-center"
                                                style="font-size: 12px; width: 80px;">Fail</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p-4" style="font-size: 15px;">
                                            1
                                        </td>
                                        <td class="p-4 text-muted" style="font-size: 15px;">
                                            August 27, 2023 4:15 pm
                                        </td>
                                        <td class="p-4" style="font-size: 15px;">1</td>
                                        <td class="p-4" style="font-size: 15px;">1</td>
                                        <td class="p-4" style="font-size: 15px;">0</td>
                                        <td class="p-4" style="font-size: 15px;">1.00 (80%)</td>
                                        <td class="p-4" style="font-size: 15px;">
                                            <div class="alert alert-danger py-1 px-2 mb-0 text-center"
                                                style="font-size: 12px; width: 80px;">Fail</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                        {% endcomment %}

                        {% comment %} 

                        <div class="d-flex py-4 my-4 justify-content-between border-top border-bottom gap-5 flex-wrap">
                            <div class="d-flex gap-5">
                                <div>
                                    <span class="text-muted">Questions No:</span>
                                    <b>1/2</b>
                                </div>
                                <div>
                                    <span class="text-muted">Attempts Allowed:</span>
                                    <b>5</b>
                                </div>
                            </div>
                            <div class="d-flex gap-5">
                                <div>
                                    <span class="text-muted">Time remaining:</span>
                                    <b>No Limit</b>
                                </div>
                            </div>
                        </div>

                        <!--1. True or False-->
                        <div>
                            <p class="fs-4">1. True or False type question here?</p>
                            <div class="row my-4">
                                <div class="col-lg-6 mb-3">
                                    <div class="card">
                                        <div class="card-body p-0">
                                            <label class="form-check-label d-flex gap-3 p-3 align-items-center"
                                                for="true" style="width: 100%;">
                                                <input class="form-check-input" style="padding: 10px" type="radio"
                                                    name="trueFalse" id="true">
                                                True
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <div class="card">
                                        <div class="card-body p-0">
                                            <label class="form-check-label d-flex gap-3 p-3 align-items-center"
                                                for="false" style="width: 100%;">
                                                <input class="form-check-input" style="padding: 10px" type="radio"
                                                    name="trueFalse" id="false">
                                                False
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--2. Single Choice-->
                        <div>
                            <p class="fs-4">2. Single Choice type question here?</p>
                            <div class="my-4">
                                <div class="col-lg-6">
                                    <div class="card mb-3">
                                        <div class="card-body p-0">
                                            <label class="form-check-label d-flex gap-3 p-3 align-items-center"
                                                for="scOption1" style="width: 100%;">
                                                <input class="form-check-input" style="padding: 10px" type="radio"
                                                    name="singleChoice" id="scOption1">
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
                                                    exercitationem ab quis omnis. Vero, nisi!</p>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card mb-3">
                                        <div class="card-body p-0">
                                            <label class="form-check-label d-flex gap-3 p-3 align-items-center"
                                                for="scOption2" style="width: 100%;">
                                                <input class="form-check-input" style="padding: 10px" type="radio"
                                                    name="singleChoice" id="scOption2">
                                                <div>
                                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat
                                                        dicta sequi recusandae veritatis est voluptate.</p>
                                                    <img src="https://placehold.co/600x400" style="max-height: 200px;"
                                                        alt="Option Image">
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card mb-3">
                                        <div class="card-body p-0">
                                            <label class="form-check-label d-flex gap-3 p-3 align-items-center"
                                                for="scOption3" style="width: 100%;">
                                                <input class="form-check-input" style="padding: 10px" type="radio"
                                                    name="singleChoice" id="scOption3">
                                                Option 3
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card mb-3">
                                        <div class="card-body p-0">
                                            <label class="form-check-label d-flex gap-3 p-3 align-items-center"
                                                for="scOption4" style="width: 100%;">
                                                <input class="form-check-input" style="padding: 10px" type="radio"
                                                    name="singleChoice" id="scOption4">
                                                Option 4
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--3. Multiple Choice-->
                        <div>
                            <p class="fs-4">3. Multiple Choice type question here?</p>
                            <div class="my-4">
                                <div class="col-lg-6">
                                    <div class="card mb-3">
                                        <div class="card-body p-0">
                                            <label class="form-check-label d-flex gap-3 p-3 align-items-center"
                                                for="mcOption1" style="width: 100%;">
                                                <input class="form-check-input" style="padding: 10px" type="checkbox"
                                                    id="mcOption1">
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
                                                    exercitationem ab quis omnis. Vero, nisi!</p>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card mb-3">
                                        <div class="card-body p-0">
                                            <label class="form-check-label d-flex gap-3 p-3 align-items-center"
                                                for="mcOption2" style="width: 100%;">
                                                <input class="form-check-input" style="padding: 10px" type="checkbox"
                                                    id="mcOption2">
                                                <div>
                                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat
                                                        dicta sequi recusandae veritatis est voluptate.</p>
                                                    <img src="https://placehold.co/600x400" style="max-height: 200px;"
                                                        alt="Option Image">
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card mb-3">
                                        <div class="card-body p-0">
                                            <label class="form-check-label d-flex gap-3 p-3 align-items-center"
                                                for="mcOption3" style="width: 100%;">
                                                <input class="form-check-input" style="padding: 10px" type="checkbox"
                                                    id="mcOption3">
                                                Option 3
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card mb-3">
                                        <div class="card-body p-0">
                                            <label class="form-check-label d-flex gap-3 p-3 align-items-center"
                                                for="mcOption4" style="width: 100%;">
                                                <input class="form-check-input" style="padding: 10px" type="checkbox"
                                                    id="mcOption4">
                                                Option 4
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--4. Open Ended-->
                        <div>
                            <p class="fs-4">4. Open Ended type question here?</p>
                            <div class="form-floating my-4">
                                <textarea class="form-control" placeholder="Leave a comment here" id="openEnded"
                                    style="height: 250px;"></textarea>
                                <label for="openEnded">Answer</label>
                            </div>
                        </div>

                        <!--5. Fill in the Blanks-->
                        <div>
                            <div class="fs-4 my-4 d-flex gap-2 flex-wrap">
                                <span>5. Fill in the Blanks in here</span>
                                <input type="text" style="max-width: 150px;" class="border-0 border-bottom">
                                <span>consectetur adipisicing elit. Deserunt, nesciunt</span>
                                <input type="text" style="max-width: 150px;" class="border-0 border-bottom">
                                <span>voluptatum libero temporibus maxime omnis?</span>
                            </div>
                        </div>

                        <!--6. Open Ended-->
                        <div>
                            <p class="fs-4">6. Short Answer type question here?</p>
                            <div class="form-floating my-4">
                                <textarea class="form-control" placeholder="Leave a comment here" id="shortAnswer"
                                    style="height: 150px;"></textarea>
                                <label for="shortAnswer">Answer</label>
                            </div>
                        </div>

                        {% endcomment %}

                        <div class="d-flex justify-content-start my-5">
                            <button class="btn btn-primary px-3 py-2">
                                Start Quiz
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="backdrop"></div>
    </div>
</div>

{% include 'loginPopup.html' %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    const windowWidth = $(window).width();

    if (windowWidth < 992) {
        $(".toggleSidebar").click(function () {
            activate();
        });
        $(".backdrop").click(function () {
            deactivate();
        });
        function activate() {
            $(".sidebar").css("left", "0px");
            $(".backdrop").show();
        }
        function deactivate() {
            $(".sidebar").css("left", "-350px");
            $(".backdrop").hide();
        }
    }

    if (windowWidth > 992) {
        $(".toggleSidebar").click(function () {
            $(".sidebar").toggle();
        });
    }

    $(document).ready(function () {
        $("#close-login-cta").click(function () {
            $(".login-cta").hide();
        });
    });

    $(".section").click(function () {
        $(this).children(".fal").toggleClass("fa-minus fa-plus");
    });
</script>
{% endblock content %}