<div class="sidebar shadow-sm col-lg-4 p-0">
    <!--Topics card-->
    <div class="card text-start border-0">
        <div class="card-body p-0">
            <div class="section p-3 text-primary d-flex align-items-center justify-content-between gap-3"
                style="cursor: pointer;" data-bs-toggle="collapse" href="#card1">
                <div class="d-flex align-items-center justify-content-between gap-3">
                    <small style="font-weight: 500;">Section 1: What to Expect</small>
                    <i class="fad fa-info-circle text-muted"></i>
                </div>
                <i class="fal fa-minus"></i>
            </div>
            <div class="collapse show" id="card1">
                <div class="mt-0">
                    <!--content in here-->
                    <table class="table table-striped m-0">
                        <tbody>
                            <tr>
                                <td class="py-3 px-4 text-muted"><i class="far fa-file-alt"></i>&nbsp;&nbsp;Lesson</td>
                            </tr>
                            <tr>
                                <td class="py-3 px-4 text-white bg-primary"><i
                                        class="far fa-file-edit"></i>&nbsp;&nbsp;Assignment</td>
                            </tr>
                            <tr>
                                <td class="py-3 px-4 text-muted"><i class="far fa-question-circle"></i>&nbsp;&nbsp;Quiz
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>