<style>
    .activeSidebarTab {
        background-color: #eee;
    }
</style>
<div class="sidebar shadow-sm col-lg-4 p-0">
    <div class="d-flex">
        <div style="cursor: pointer;" class="sidebartab1 col-6 p-3 text-center">
            <i class="fal fa-book-open text-primary"></i>
            <small>
                <a class="text-muted" href="#">Lesson List</a>
            </small>
        </div>
        <div style="cursor: pointer;" class="sidebartab2 col-6 p-3 text-center">
            <i class="fal fa-question-circle text-primary"></i>
            <small>
                <a class="text-muted" href="#">Browse Q&A</a>
            </small>
        </div>
    </div>
    <div class="sidebartab1Content">
        {% with url_name=request.resolver_match.url_name %}
        <!--Topics card-->
        <div class="card text-start border-0">
            <div class="card-body p-0">
                {% for topic in course.topics.all %}
                <div class="section p-3 text-primary d-flex align-items-center justify-content-between gap-3"
                    style="cursor: pointer;" data-bs-toggle="collapse" href="#card{{forloop.counter}}">
                    <div class="d-flex align-items-center justify-content-between gap-3">
                        <small style="font-weight: 500;">{{topic.title}}</small>
                        <i class="fad fa-info-circle text-muted"></i>
                    </div>
                    {% if topic_item.topic == topic %}
                    <i class="fal fa-minus"></i>
                    {% else %}
                    <i class="fal fa-plus"></i>
                    {% endif %}
                </div>
                <div class="collapse {% if topic_item.topic == topic %}show{% endif %}" id="card{{forloop.counter}}">
                    <div class="mt-0">
                        <!--content in here-->
                        <table class="table table-striped m-0">
                            <tbody>
                                {% for ti in topic.items.all %}
                                <tr>
                                    <td class="{% if ti == topic_item %}bg-primary{% endif %}">
                                        {% if ti.lesson %}
                                        <a href="{% url 'courses:lesson_details' ti.lesson.pk %}"
                                            class="{% if ti == topic_item %}text-white{% else %}text-muted{% endif %}">
                                            <div class="py-2 px-4 d-flex justify-content-between align-items-center">
                                                <span><i
                                                        class="far fa-file-alt"></i>&nbsp;&nbsp;{{ti.lesson.title}}</span>
                                                <span>
                                                    {% if ti == topic_item %}
                                                    {% if ti.lesson in enrollment.completed_lessons.all %}
                                                    <i class="fas fa-check-circle text-light"></i>
                                                    {% else %}
                                                    <i class="far fa-circle text-light"></i>
                                                    {% endif %}
                                                    {% else %}
                                                    {% if ti.lesson in enrollment.completed_lessons.all %}
                                                    <i class="fas fa-check-circle text-success"></i>
                                                    {% else %}
                                                    <i class="far fa-circle" style="color: #a6a6a6;"></i>
                                                    {% endif %}
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </a>
                                        {% elif ti.assignment %}
                                        <a href="{% url 'courses:assignment_details' ti.assignment.pk %}"
                                            class="{% if ti == topic_item %}text-white{% else %}text-muted{% endif %}">
                                            <div class="py-2 px-4 d-flex justify-content-between align-items-center">
                                                <span><i
                                                        class="far fa-file-edit"></i>&nbsp;&nbsp;{{ti.assignment.title}}</span>
                                                <span>
                                                    {% if ti == topic_item %}
                                                    <i class="far fa-circle text-light"></i>
                                                    {% else %}
                                                    <i class="far fa-circle" style="color: #a6a6a6;"></i>
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </a>
                                        {% elif ti.quiz %}
                                        <a href="{% url 'courses:quiz_details' ti.quiz.pk %}"
                                            class="{% if ti == topic_item %}text-white{% else %}text-muted{% endif %}">
                                            <div class="py-2 px-4 d-flex justify-content-between align-items-center">
                                                <span><i class="far fa-question-circle"></i>&nbsp;&nbsp;Quiz</span>
                                                <span>
                                                    {% if ti == topic_item %}
                                                    <i class="far fa-circle text-light"></i>
                                                    {% else %}
                                                    <i class="far fa-circle" style="color: #a6a6a6;"></i>
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endwith %}
    </div>
    <div class="sidebartab2Content">
        <div class="p-3">
            <div class="mb-5">
                <div class="d-flex align-items-center justify-content-between">
                    <h5>Q&A</h5>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#qaModal">
                        Ask a new question
                    </button>

                    <!-- Q&A Modal -->
                    <div class="modal fade" id="qaModal" tabindex="-1" aria-labelledby="qaModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="qaModalLabel">Ask a Question</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <textarea class="form-control" name="question" cols="30" rows="10"></textarea>
                                </div>
                                <div class="modal-footer d-flex gap-4 justify-content-center">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary">Post Question</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-4">
                    <!--Question 1-->
                    <div class="d-flex align-items-cente gap-3">
                        <div style="width: 50px; height: 50px; font-size: 25px; background: #f1f3f8;"
                            class="rounded-circle d-flex align-items-center justify-content-center text-primary">
                            <img src="https://placehold.co/35x35" alt="testi" style="width: 100%;"
                                class="img-fluid rounded-circle">
                        </div>
                        <div class="d-flex flex-column gap-3" style="font-size: 14px; width: 100%;">
                            <div>
                                <b>Om Dahale</b>
                                <span class="text-muted">36 seconds ago</span>
                            </div>
                            <div class="p-3 rounded" style="background: #f8f8f8;">
                                how to do this?
                            </div>
                            <!--Answer 1-->
                            <div class="d-flex align-items-cente gap-3">
                                <div style="width: 50px; height: 50px; font-size: 25px; background: #f1f3f8;"
                                    class="rounded-circle d-flex align-items-center justify-content-center text-primary">
                                    <img src="https://placehold.co/35x35" alt="testi" style="width: 100%;"
                                        class="img-fluid rounded-circle">
                                </div>
                                <div class="d-flex flex-column gap-3" style="font-size: 14px; width: 100%;">
                                    <div>
                                        <b>Om Dahale</b>
                                        <span class="text-muted">36 seconds ago</span>
                                    </div>
                                    <div class="p-3 rounded" style="background: #f8f8f8;">
                                        how to do what?
                                    </div>
                                </div>
                            </div>
                            <!--Answer 2-->
                            <div class="d-flex align-items-cente gap-3">
                                <div style="width: 50px; height: 50px; font-size: 25px; background: #f1f3f8;"
                                    class="rounded-circle d-flex align-items-center justify-content-center text-primary">
                                    <img src="https://placehold.co/35x35" alt="testi" style="width: 100%;"
                                        class="img-fluid rounded-circle">
                                </div>
                                <div class="d-flex flex-column gap-3" style="font-size: 14px; width: 100%;">
                                    <div>
                                        <b>Om Dahale</b>
                                        <span class="text-muted">36 seconds ago</span>
                                    </div>
                                    <div class="p-3 rounded" style="background: #f8f8f8;">
                                        i don't know, ask the expert
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end mt-4">
                                <button class="btn btn-warning">Add an answer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".sidebartab2Content").hide();
        $(".sidebartab2").addClass("activeSidebarTab");

        $(".sidebartab2").click(function () {
            $(".sidebartab1Content").hide();
            $(".sidebartab2Content").show();
            $(".sidebartab2").removeClass("activeSidebarTab");
            $(".sidebartab1").addClass("activeSidebarTab");
        });

        $(".sidebartab1").click(function () {
            $(".sidebartab2Content").hide();
            $(".sidebartab1Content").show();
            $(".sidebartab1").removeClass("activeSidebarTab");
            $(".sidebartab2").addClass("activeSidebarTab");
        });
    });
</script>