.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.sidebar {
  background: #fff;
  transition: 0.5s;
}

@media (max-width: 992px) {
  .sidebar {
    position: fixed;
    top: 0px;
    width: 350px;
    left: -350px;
    z-index: 1;
    height: 100%;
  }

  .toggleSidebar {
    top: 60px;
  }
}

@media (min-width: 992px) {
  .sidebar {
    position: static;
    top: 0px;
    left: 0px;
    max-width: 400px;
  }

  .backdrop {
    display: none;
  }

  .toggleSidebar {
    top: 60px;
  }
}