@charset "UTF-8";
@font-face {
  font-family: Gordita;
  src: url(./gordita/Gordita-Regular.ttf) format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Gordita;
  src: url(./gordita/Gordita-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: Gordita;
  src: url(./gordita/Gordita-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

* {
  font-family: Gordita, sans-serif;
}

a {
  text-decoration: none;
}

.header1 {
  background: #031f42;
}

.header a {
  color: white;
}

.header1 a:hover {
  color: #ffc107;
  transition: all 0.25s ease-in-out;
}

.top-search-bar-input {
  font-size: 14px;
  font-weight: bold;
}

.top-search-bar-button {
  color: #0071dc;
  background: #fff;
}

.top-search-bar-button:hover{
  background: #0071dc;
}

.top-search-bar-button:hover b{
  color: #fff; 
}

.sticky-top {
  transition: all 0.25s ease-in;
}

.navbar {
  padding: 2rem 0px !important;
}

.stuck .navbar.sticky-top {
  padding: 0.8rem 0rem !important;
}

.navbar .brandingLogo {
  max-width: 190px;
  height: auto;
  transition: all 0.25s ease-in;
}

.navbar a{
  color: black;
}

.navbar a:hover {
  color: #0078b4;
}

.navbar a:hover svg{
  fill: #0078b4;
}

.title-content {
  background: #f8f8f8;
}

.breadcrumb a {
  color: rgb(163, 163, 163);
}

.breadcrumb a:hover {
  color: #0071DC;
  transition: all 0.25s ease-in-out;
}

.main-content {
  background: white;
}

.regForm input {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0071DC;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #0071DC;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}