@charset "UTF-8";
@font-face {
  font-family: Gordita;
  src: url(./gordita/Gordita-Regular.ttf) format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Gordita;
  src: url(./gordita/Gordita-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: Gordita;
  src: url(./gordita/Gordita-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

* {
  font-family: Gordita, sans-serif;
}

a {
  text-decoration: none;
}

.header1 {
  background: #031f42;
}

.sticky-top {
  transition: all 0.25s ease-in;
}

.navbar {
  padding: 2rem 0px !important;
}

.stuck .navbar.sticky-top {
  padding: 0.8rem 0rem !important;
}

.navbar .brandingLogo {
  max-width: 190px;
  height: auto;
}

.title-content {
  background: #f8f8f8;
}

.main-content {
  background: white;
}

.regForm input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
