@charset "UTF-8";
@font-face {
  font-family: Gordita;
  src: url(./gordita/Gordita-Regular.ttf) format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Gordita;
  src: url(./gordita/Gordita-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: Gordita;
  src: url(./gordita/Gordita-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@media (min-width: 768px){
  .container{
    max-width:100% !important;
  }  
}

@media (min-width: 992px){
  .container{
    max-width:100% !important;
  }
}

@media (min-width: 1200px){
  .container{
    max-width:95% !important;
  }
}

@media (min-width: 1400px){
  .container{
    max-width:75% !important;
  }
}

.shadow-sm {
  box-shadow: 0px 7px 29px 0px rgba(129, 129, 139, 0.2) !important;
}

* {
  font-family: Gordita, sans-serif;
}

a {
  text-decoration: none;
}

.header1 {
  background: #031f42;
  padding: 5.25px 0px;
}

.header a {
  color: white;
}

.header1 a:hover {
  color: #ffc107;
  transition: all 0.25s ease-in-out;
}

.top-search-bar-input {
  font-size: 14px;
  font-weight: bold;
}

.top-search-bar-button {
  color: #0071dc;
  background: #fff;
}

.top-search-bar-button:hover {
  background: #0071dc;
}

.top-search-bar-button:hover b {
  color: #fff;
}

.sticky-top {
  transition: all 0.25s ease-in;
}

.navbar {
  padding: 1.6rem 0px !important;
}

.stuck .navbar.sticky-top {
  padding: 0.8rem 0rem !important;
}

.navbar .brandingLogo {
  max-width: 190px;
  height: auto;
  transition: all 0.25s ease-in;
}

.navbar a {
  color: black;
}

.navbar a:hover {
  color: #0078b4;
}

.navbar a:hover svg {
  fill: #0078b4;
}

.title-content {
  background: #f8f8f8;
}

.breadcrumb a {
  color: rgb(163, 163, 163);
}

.breadcrumb a:hover {
  color: #0071dc;
  transition: all 0.25s ease-in-out;
}

.main-content {
  background: white;
}

.regForm input {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 16px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0071dc;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #0071dc;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

footer a {
  color: #9b9b9b;
}

footer li {
  list-style: none;
  margin: 15px auto;
}

footer a:hover {
  color: #0071dc;
  transition: all 0.25s ease-in-out;
}

.dropdown:hover .dropdown-menu {
  display: block;
}