{% include 'courses/courseInfo.html' %}

<div class="card text-start mb-3">
    <div class="card-body p-0">
        <div class="section p-4" style="cursor: pointer;" data-bs-toggle="collapse" href="#card2">
            <i class="fas fa-chevron-down text-primary"></i>
            <span class="fs-4">&nbsp;&nbsp;Video</span>
        </div>
        <div class="collapse show" id="card2">
            <div class="m-4 mt-0">

            </div>
        </div>
    </div>
</div>

{% include 'courses/courseBuilder.html' %}

<div class="card text-start mb-3">
    <div class="card-body p-0">
        <div class="section p-4" style="cursor: pointer;" data-bs-toggle="collapse" href="#card4">
            <i class="fas fa-chevron-down text-primary"></i>
            <span class="fs-4">&nbsp;&nbsp;Instructor</span>
        </div>
        <div class="collapse show" id="card4">
            <div class="m-4 mt-0">
                <p>
                    <label for="id_instructors">Instructors:</label>
                    <select name="instructors" id="id_instructors" multiple="">
                        <option value="1">a</option>

                        <option value="2">admin</option>

                        <option value="3">neerajadhav</option>

                    </select>


                </p>

            </div>
        </div>
    </div>
</div>

<div class="card text-start mb-3">
    <div class="card-body p-0">
        <div class="section p-4" style="cursor: pointer;" data-bs-toggle="collapse" href="#card5">
            <i class="fas fa-chevron-down text-primary"></i>
            <span class="fs-4">&nbsp;&nbsp;Course Attachments</span>
        </div>
        <div class="collapse show" id="card5">
            <div class="m-4 mt-0">


                <p>
                    <label for="id_attachments">Attachments:</label>
                    <select name="attachments" id="id_attachments" multiple="">
                    </select>


                </p>
            </div>
        </div>
    </div>
</div>

<div class="card text-start mb-3">
    <div class="card-body p-0">
        <div class="section p-4" style="cursor: pointer;" data-bs-toggle="collapse" href="#card7">
            <i class="fas fa-chevron-down text-primary"></i>
            <span class="fs-4">&nbsp;&nbsp;Additional Data</span>
        </div>
        <div class="collapse show" id="card7">
            <div class="m-4 mt-0">

                <div class="form-outline mb-3">
                    <label class="form-label my-2 fw-bold">What will I learn?</label>
                    <textarea class="form-control" name="what_will_i_learn"
                        placeholder="Write here the course benefits (One per line)"
                        rows="3">{{ course.what_will_i_learn | safe }}</textarea>
                </div>

                <div class="form-outline mb-3">
                    <label class="form-label my-2 fw-bold">Target Audience</label>
                    <textarea class="form-control" name="target_audience"
                        placeholder="Specify the target audience that will benefit the most from the course. (One line per target audience.)"
                        rows="3">{{ course.target_audience | safe }}</textarea>
                </div>

                <div class="form-outline mb-3">
                    <label class="form-label my-2 fw-bold">Course duration</label>
                    <div class="d-flex gap-3">
                        <div>
                            <input type="number" class="form-control p-3 mb-2" placeholder="Hours" />
                            <small class="text-muted">
                                Hours
                            </small>
                        </div>
                        <div>
                            <input type="number" class="form-control p-3 mb-2" placeholder="Minutes" />
                            <small class="text-muted">
                                Minutes
                            </small>
                        </div>
                    </div>
                </div>

                <div class="form-outline mb-3">
                    <label class="form-label my-2 fw-bold">Materials Included</label>
                    <textarea class="form-control" name="materials_included"
                        placeholder="A list of assets you will be providing for the students in this course (One per line)"
                        rows="3">{{ course.materials_included | safe }}</textarea>
                </div>

                <div class="form-outline mb-3">
                    <label class="form-label my-2 fw-bold">Requirements/Instructions</label>
                    <textarea class="form-control" name="requirements"
                        placeholder="Additional requirements or special instructions for the students (One per line)"
                        rows="3">{{ course.requirements | safe }}</textarea>
                </div>

                <div class="form-outline mb-3">
                    <label class="form-label my-2 fw-bold">Course tags</label>
                    <select class="form-select p-3 mb-2" aria-label="Default select example">
                        <option selected>Multiple select</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>


                <p>
                    <label for="id_duration">Duration:</label>
                    <input type="text" name="duration" value="00:00:00" required="" id="id_duration">


                </p>


                <p>
                    <label for="id_tags">Tags:</label>
                    <select name="tags" id="id_tags" multiple="">
                    </select>


                </p>
            </div>
        </div>
    </div>
</div>



<div class="card text-start mb-3">
    <div class="card-body p-0">
        <div class="section p-4" style="cursor: pointer;" data-bs-toggle="collapse" href="#card6">
            <i class="fas fa-chevron-down text-primary"></i>
            <span class="fs-4">&nbsp;&nbsp;Course Prerequisites</span>
        </div>
        <div class="collapse show" id="card6">
            <div class="m-4 mt-0">




                <p>
                    <label for="id_prerequisite_courses">Prerequisite courses:</label>
                    <select name="prerequisite_courses" id="id_prerequisite_courses" multiple="">
                        <option value="32">neerajadhav's course: New Course assd sdsd</option>

                    </select>




                </p>
            </div>
        </div>
    </div>
</div>