{% load my_extras %}

{% include 'courses/courseInfo.html' %}
<!--do not remove-->
{% include 'courses/video.html' %}
<!--do not remove-->
{%include 'courses/courseBuilder.html' %}
<!--do not remove-->
{% include 'courses/instructor.html' %}

<style>
  .select2-container--default .select2-selection--multiple {
    padding: 10px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    cursor: text;
    position: relative;
    background: #f8f8f8;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #fff;
    box-shadow: 0px 7px 29px 0px rgba(129, 129, 139, 0.2) !important;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 5px 20px;
    padding-left: 40px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    border: none;
    border-right: 1px solid #f1f1f1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #999;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 0 10px;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 35px;
  }
</style>

<div class="card text-start mb-3">
  <div class="card-body p-0">
    <div class="section p-4" style="cursor: pointer" data-bs-toggle="collapse" href="#card5">
      <i class="fas fa-chevron-down text-primary"></i>
      <span class="fs-4">&nbsp;&nbsp;Course Attachments</span>
    </div>
    <div class="collapse show" id="card5">
      <div class="m-4 mt-0">
        <p class="d-none">
          <select name="attachments" id="attachments-input-js" multiple="">
            {% for attachment in course.attachments.all %}
            <option value={{ attachment.id }} selected>{{ attachment.title }}</option>
            {% endfor %}
          </select>
        </p>
        <div id="attachmentsPreviewContainer">
          {% for attachment in course.attachments.all %}
            {{ attachment.id }}:{{ attachment.file.url }}<br>
          {% endfor %}
        </div>
        <button type="button" data-bs-toggle="modal" data-bs-target="#mediaModal" id="attachments-btn-js"
          class="btn btn-outline-primary p-3">
          <i class="fas fa-paperclip"></i>
          <span>&nbsp;&nbsp;Upload Attachment</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card text-start mb-3">
  <div class="card-body p-0">
    <div class="section p-4" style="cursor: pointer" data-bs-toggle="collapse" href="#card7">
      <i class="fas fa-chevron-down text-primary"></i>
      <span class="fs-4">&nbsp;&nbsp;Additional Data</span>
    </div>
    <div class="collapse show" id="card7">
      <div class="m-4 mt-0">
        <div class="form-outline mb-3">
          <label class="form-label my-2 fw-bold">What will I learn?</label>
          <textarea class="form-control" name="what_will_i_learn"
            placeholder="Write here the course benefits (One per line)" rows="3" style="background: #f8f8f8;">
{{ course.what_will_i_learn | safe }}</textarea>
        </div>

        <div class="form-outline mb-3">
          <label class="form-label my-2 fw-bold">Target Audience</label>
          <textarea class="form-control" name="target_audience"
            placeholder="Specify the target audience that will benefit the most from the course. (One line per target audience.)"
            rows="3" style="background: #f8f8f8;">
{{ course.target_audience | safe }}</textarea>
        </div>

        <div class="form-outline mb-3">
          <label class="form-label my-2 fw-bold">Course duration</label>
          <div class="d-flex gap-3">
            <div>
              <input id="hour-js" type="number" class="form-control p-3 mb-2" placeholder="Hours"
                value="{{course.duration|get_timedelta_hours}}" style="background: #f8f8f8;" />
              <small class="text-muted"> Hours </small>
            </div>
            <div>
              <input id="minute-js" type="number" class="form-control p-3 mb-2" placeholder="Minutes"
                value="{{course.duration|get_timedelta_minutes}}" style="background: #f8f8f8;" />
              <small class="text-muted"> Minutes </small>
            </div>
          </div>
        </div>

        <input type="hidden" name="duration" id="duration-js">

        <div class="form-outline mb-3">
          <label class="form-label my-2 fw-bold">Materials Included</label>
          <textarea class="form-control" name="materials_included"
            placeholder="A list of assets you will be providing for the students in this course (One per line)"
            rows="3" style="background: #f8f8f8;">
{{ course.materials_included | safe }}</textarea>
        </div>

        <div class="form-outline mb-3">
          <label class="form-label my-2 fw-bold">Requirements/Instructions</label>
          <textarea class="form-control" name="requirements"
            placeholder="Additional requirements or special instructions for the students (One per line)" rows="3" style="background: #f8f8f8;">
{{ course.requirements | safe }}</textarea>
        </div>

        <div class="form-outline mb-3">
          <label class="form-label my-2 fw-bold">Course tags</label>
          <select class="course-tags-multiple form-select p-3 mb-2" aria-label="Default select example"
            multiple="multiple" name="tags">
            {% for tag in tags %}
            <option value={{ tag.id }} {% if tag in course.tags.all %} selected {% endif %}>{{ tag.title }}</option>
            {% endfor %}
          </select>
        </div>

        {% comment %} <p>
          <label for="id_duration" class="text-danger">Duration:</label>
          <input type="text" name="duration" value="00:00:00" required="" id="id_duration" />
        </p>

        <p>
          <label for="id_tags" class="text-danger">Tags:</label>
          <select name="tags" id="id_tags" multiple="multiple"></select>
        </p> {% endcomment %}
      </div>
    </div>
  </div>
</div>

<div class="card text-start mb-3">
  <div class="card-body p-0">
    <div class="section p-4" style="cursor: pointer" data-bs-toggle="collapse" href="#card6">
      <i class="fas fa-chevron-down text-primary"></i>
      <span class="fs-4">&nbsp;&nbsp;Course Prerequisites</span>
    </div>
    <div class="collapse show" id="card6">
      <div class="m-4 mt-0">
        <p>
          <label for="id_prerequisite_courses" class="form-label my-2 fw-bold">Select course</label><br>
          <select name="prerequisite_courses" id="id_prerequisite_courses" multiple="multiple"
            class="course-prerequisites-multiple form-select">
            {% for pr_course in user.courses.all %}
            <option value={{ pr_course.id }} {% if pr_course in course.prerequisite_courses.all %} selected {% endif %}>
              {{ pr_course.title }}</option>
            {% endfor %}
          </select>
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $(".course-tags-multiple").select2({
    });
    $(".course-prerequisites-multiple").select2({
      backgroundColor: 'red',
      padding: '100px',
    });


    $("#attachments-btn-js").click(function () {
      $("#mediaModal").data("target", "attachments");
    });



  });
</script>