{% extends "dashboard/base.html" %} {% load static %} {% load my_extras %}
<!--do not remove this commenty-->
{% block content %}
<style>
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .image-grid-item {
    flex: 0 0 200px;
    position: relative;
    overflow: hidden;
    background-color: rgb(218, 218, 218);
    height: 171.42px;
    cursor: pointer;
    min-width: 300px;
    width: 100%;
  }

  .image-grid-item::before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .image-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
</style>
<div>
  {% with url_name=request.resolver_match.url_name %}
  <!--Page Title-->
  <div class="container-fluid title-content">
    <div class="py-3">
      <div class="container mt-4">
        <h3 class="fw-normal mb-3" style="letter-spacing: 1px">My Profile</h3>
        <div class="d-flex gap-4 border-bottom mt-3">
          <a
            href="{% url 'courses:list_courses_published' %}"
            class="flex-1 px-4 py-2 {% if url_name == 'list_courses_published' %} text-primary border-bottom border-2"
            style="border-color: #0071dc !important;
                        {% endif %}"
          >
            Publish ({{publish_count}})
          </a>
          <a
            href="{% url 'courses:list_courses_pending' %}"
            class="flex-1 px-4 py-2 {% if url_name == 'list_courses_pending' %}text-primary border-bottom border-2"
            style="border-color: #0071dc !important;
                        {% endif %}"
          >
            Pending ({{pending_count}})
          </a>
          <a
            href="{% url 'courses:list_courses_draft' %}"
            class="flex-1 px-4 py-2 {% if url_name == 'list_courses_draft' %}text-primary border-bottom border-2"
            style="border-color: #0071dc !important;
                        {% endif %}"
          >
            Draft ({{draft_count}})
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endwith %}

  <!-- Page Content -->
  <div class="container my-3">
    {% for course in courses %}
    <div class="card mb-4" style="max-width: 950px">
      <div class="card-body">
        <div class="d-flex flex-column flex-md-row align-items-center">
          <div class="image-grid-item rounded">
            <div
              class="image-background"
              style="background-image: url('{% if course.thumbnail %}{{course.thumbnail.file.url}}{% else %}{% static 'images/thumbnail-placeholder.svg' %}{% endif %}')"
            ></div>
          </div>
          <div
            class="px-md-3 py-lg-0 py-3 d-flex align-content-center flex-wrap"
            style="width: 100%"
          >
            <div style="width: 100%; height: 130px">
              <div class="d-flex flex-column">
                <span class="greet-text">
                  <i
                    class="fal fa-star fa-sm"
                    style="color: #ffa600; font-size: 14px"
                  ></i>
                  <i
                    class="fal fa-star fa-sm"
                    style="color: #ffa600; font-size: 14px"
                  ></i>
                  <i
                    class="fal fa-star fa-sm"
                    style="color: #ffa600; font-size: 14px"
                  ></i>
                  <i
                    class="fal fa-star fa-sm"
                    style="color: #ffa600; font-size: 14px"
                  ></i>
                  <i
                    class="fal fa-star fa-sm"
                    style="color: #ffa600; font-size: 14px"
                  ></i>
                  <small class="text-muted" style="font-size: 15px"
                    >(2/5)</small
                  >
                </span>
              </div>
              <div class="my-1">
                <b>{{course.title}}</b>
              </div>
              <small>
                <span class="text-muted">Students:</span> <b>0</b>
              </small>
            </div>
            <div
              class="d-flex align-items-center justify-content-between"
              style="width: 100%"
            >
              <div>
                {% if course.discount_price %}
                <b class="fs-5">₹{{course.discount_price|get_price_whole}}</b
                ><b>.{{course.discount_price|get_price_fraction}}</b>
                <s class="text-muted">₹{{course.price|get_price_whole}}</s
                ><s class="text-muted">.{{course.price|get_price_fraction}}</s>
                {% else %}
                <b class="fs-5">₹{{course.price|get_price_whole}}</b
                ><b>.{{course.price|get_price_fraction}}</b>
                {% endif %}
              </div>
              <div class="flex-1 d-flex align-items-center gap-3">
                <a
                  href="{% url 'courses:update_course' course.pk %}"
                  class="btn btn-light border text-muted"
                >
                  <small>
                    <i class="fal fa-pencil-alt text-primary"></i
                    >&nbsp;&nbsp;Edit
                  </small>
                </a>
                <div class="dropdown">
                  <button
                    class="btn btn-outline-primary border rounded-circle dropdown-toggl"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="fal fa-ellipsis-h"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li>
                      <a class="dropdown-item p-3" href="#">
                        <i class="fal fa-share">&nbsp;&nbsp;</i> Share
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item p-3" href="#">
                        <i class="fal fa-copy">&nbsp;&nbsp;</i> Duplicate
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item p-3" href="#">
                        <i class="fal fa-trash">&nbsp;&nbsp;</i> Delete
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
