{% load static %}
<!--Course Builder-->
<div class="card text-start mb-3">
  <div class="card-body p-0">
    <div class="section p-4" style="cursor: pointer" data-bs-toggle="collapse" href="#card3">
      <i class="fas fa-chevron-down text-primary"></i>
      <span class="fs-4">&nbsp;&nbsp;Course Builder</span>
    </div>
    <div class="collapse show" id="card3">
      <div class="m-4 mt-0">
        <div class="row">
          <div id="topic-list">
            <div id="topicsList"></div>
          </div>
        </div>
        <button type="button" class="btn btn-primary p-3" data-bs-toggle="modal" data-bs-target="#topicModal">
          <i class="fas fa-plus-square"></i>
          <span>&nbsp;&nbsp;Add New Topic</span>
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    fetchTopicsList();
    // Create Topic
    $("#topic-create-form").submit(function (e) {
      e.preventDefault();
      const form = $(this);
      const url = "{% url 'courses:create_topic' course.pk %}";

      $.ajax({
        type: "POST",
        url: url,
        data: new FormData(this),
        headers: {
          "X-CSRFToken": "{{ csrf_token }}",
        },
        processData: false,
        contentType: false,
        success: function (response) {
          // alert(response.message);
          // Refresh media list after successful upload
          fetchTopicsList();
          form.trigger("reset");
          $("#topicModal").modal("hide");
        },
        error: function (xhr, status, error) {
          alert("Error: " + xhr.responseJSON.error);
          // Handle the error and update the UI accordingly
        },
      });
    });

    // Update Topic form
    $("#updateTopicForm").submit(function (event) {
      event.preventDefault();

      $("#saveUpdateTopic").html(
        '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> <b>Saving...</b>'
      );

      topicId = $("#updateTopicForm input[name='topicId']").val();
      url = `/courses/update-topic/${topicId}/`;
      form = $("#updateTopicForm").serialize();

      $.ajax({
        type: "POST",
        url: url,
        headers: {
          "X-CSRFToken": "{{ csrf_token }}",
        },
        data: form,
        success: function (data) {
          $("#saveUpdateTopic").html("<span><b>Save Topic</b></span>");
          $("#updateTopicModal").modal("hide");
          fetchTopicsList();
        },
        error: function (xhr, status, error) {
          var errorMessage = JSON.parse(xhr.responseText).error_message;
          console.log(errorMessage);
        },
      });
    });

    // Function to fetch and display the topics list
    function fetchTopicsList() {
      const url = "{% url 'courses:list_topics' course.pk %}";

      $.ajax({
        type: "GET",
        url: url,
        success: function (response) {
          const topicList = response.topics;
          const topicListContainer = $("#topic-list #topicsList");
          topicListContainer.empty();

          topicList.forEach(function (topic, index) {
            const topicsList = `
              <div class="card bg-light text-start mb-3" data-topic-id="${topic.id}">
                <div class="card-body p-0">
                    <div class="section px-2 py-3 d-flex align-items-center justify-content-between">
                        <span class="fs-6 SortHandle" style="cursor: grab;"><i class="fal fa-bars"></i>&nbsp;&nbsp;${topic.title}</span>
                        <span class="d-flex gap-2 px-2">
                            <button type="button" class="btn btn-sm editTopicButton" data-bs-toggle="modal" data-bs-target="#updateTopicModal" data-bs-topic-sort="${topic.sort_order}" data-bs-topic-id="${topic.id}" data-bs-topic-title="${topic.title}" data-bs-topic-summary="${topic.summary}"><i class="fas fa-edit text-muted"></i></button>
                            <button type="button" class="btn btn-sm"><i class="fas fa-trash-alt text-muted"></i></button>
                            <button type="button" class="btn btn-sm" data-bs-toggle="collapse" href="#topic-${topic.id}"><i class="fas fa-chevron-down text-muted"></i></button>
                        </span>
                    </div>
                    
                    <div class="collapse show" id="topic-${topic.id}">
                        <div class="card card-body">

                            <div class="topicItems-${topic.id}"></div>

                            <div class="d-flex gap-3">
                                <!-- Button for Add Lesson -->
                                <button type="button" class="btn btn-outline-primary create-lesson-button" data-bs-toggle="modal" data-bs-target="#lessonModal" data-topic-id="${topic.id}">
                                  <i class="fas fa-plus-square"></i>
                                    &nbsp;Lesson
                                </button>

                                <!-- Button for Add Quiz -->
                                <button type="button" data-bs-toggle="modal" data-bs-target="#questionModal" class="btn btn-outline-primary">
                                    <i class="fas fa-plus-square"></i>
                                    &nbsp;Quiz
                                </button>

                                <!-- Button for Add Assignment -->
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#assignmentModal" data-topic-id="${topic.id}">
                                  <i class="fas fa-plus-square"></i>
                                    &nbsp;Assignment
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              
              

              `;

            topicListContainer.append(topicsList);
            $("body").append(`
            <!-- Lesson Modal -->
            <div class="modal fade" id="lessonModal-${topic.id}" tabindex="-1" aria-labelledby="lessonModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="lessonModalLabel">Lesson</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  
                  <div class="modal-body px-4 lesson-create-form">
                    <div class="form-outline mb-3">
                      <label class="form-label my-2 fw-bold">Lesson Name</label>
                      <input type="text" class="form-control p-3 mb-2" id="create-lesson-title-${topic.id}" required>
                      <small class="text-muted">
                        <i class="fal fa-info-circle"></i> Lesson titles are displayed
                        publicly wherever required.
                      </small>
                    </div>
      
                    <div class="form-outline mb-4">
                      <label class="form-label my-2 fw-bold">Lesson Content</label>
                      <div id="lesson-content-editor-${topic.id}">
                      </div>
                      <input type="text" class="form-control" id="create-lesson-content-${topic.id}" required>
                      <br />
                      <small class="text-muted">
                        <i class="fal fa-info-circle"></i> The idea of a summary is a
                        short text to prepare students for the activities within the
                        topic or week. The text is shown on the course page under the
                        topic name.
                      </small>
                    </div>
                    
                    <label class="form-label my-2 fw-bold">Feature Image</label>
                    <div class="d-flex border rounded">
                      <div class="p-3">
                        <div class="thumbnail-preview" id="thumbnailPreview">
                          <img
                            class="img-fluid"
                            src="{% static 'images/thumbnail-placeholder.svg' %}"
                            alt="thumbnail"
                          />
                        </div>
                      </div>
                      <div class="p-3 d-flex align-items-center" style="width: 100%">
                        <span>
                          <b id="imageDimensions">Allowed Size: 700x430 pixels</b>
                          <p>File Support:</p>
                          <button
                            type="button"
                            class="btn btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#mediaModal"
                          >
                            Media Library
                          </button>
                        </span>
                      </div>
                    </div>

                    <!-- <input type="number" class="form-control" id="create-lesson-feature_image-${topic.id}" required> -->
      
                    <div class="my-4">
                      <div class="card border-0">
                        <div class="card-body border border-warning rounded">
                          <i class="far fa-exclamation-circle text-warning fa-lg"></i
                          >&nbsp;&nbsp;No video source selected from settings!
                        </div>
                      </div>
                    </div>
      
                    <div class="form-outline mb-4">
                      <label class="form-label my-2 fw-bold"
                        >Upload exercise files to the Lesson</label
                      ><br>


                      {% comment %} 
                      <div class="card my-3" style="max-width: 350px">
                        <div class="card-body">
                          <div class="d-flex flex-column">
                            <b style="font-weight: 500">File name</b>
                            <span style="color: #9e9e9e"> File size </span>
                          </div>
                        </div>
                      </div>
                      <div class="card my-3" style="max-width: 350px">
                        <div class="card-body">
                          <div class="d-flex flex-column">
                            <b style="font-weight: 500">File name</b>
                            <span style="color: #9e9e9e"> File size </span>
                          </div>
                        </div>
                      </div>
                      <div class="card my-3" style="max-width: 350px">
                        <div class="card-body">
                          <div class="d-flex flex-column">
                            <b style="font-weight: 500">File name</b>
                            <span style="color: #9e9e9e"> File size </span>
                          </div>
                        </div>
                      </div> 
                      {% endcomment %}



                      <button class="btn btn-outline-primary p-3">
                        <i class="far fa-paperclip"></i>&nbsp;&nbsp;<span
                          >Upload Attachments</span
                        >
                      </button>
                      <!-- <input type="text" class="form-control" id="create-lesson-attachments-${topic.id}" required> -->
                    </div>
      
                    <div class="d-flex align-items-center gap-3 mb-4">
                      <input
                        type="checkbox"
                        id="create-lesson-enable_preview-${topic.id}" required
                        class="form-check-input"
                        style="padding: 10px"
                      />
                      <label for="enable_preview">Enable Course Preview:</label>
                    </div>
                    <small class="text-muted">
                      <i class="fal fa-info-circle"></i> If checked, any users/guest
                      can view this lesson without enroll course
                    </small>
                  </div>
                  <div class="modal-footer d-flex justify-content-between">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                    <button class="btn btn-primary create-lesson-btn" data-topic-id="${topic.id}">Create lesson</button>
                  </div>
                </div>
              </div>
            </div>
            `);

            // Get topic items
            $.ajax({
              type: "GET",
              url: `/courses/list-topic-item/${topic.id}/`,
              headers: {
                "X-CSRFToken": "{{ csrf_token }}",
              },
              success: function (response) {
                console.log(topic.id);
                console.log(response.data);
                const topicItems = response.data;
                const topicItemsContainer = $(`.topicItems-${topic.id}`);
                topicItemsContainer.empty();

                topicItems.forEach(function (item, index) {

                  topicItemList = "";

                  if (item.lesson != null) {
                    topicItemList = `
                    <div class="card bg-white text-start mb-3">
                      <div class="card-body p-0">
                        <div class="section p-2 d-flex align-items-center justify-content-between"
                        style="cursor: pointer;">
                            <span class="fs-6"><i class="fal fa-bars"></i>&nbsp;&nbsp;Lesson ${item.lesson_data.title}</span>
                            <span class="d-flex gap-2 px-2">
                              <button type="button" class="btn btn-sm editTopicButton" data-bs-toggle="modal" data-bs-target="#updateTopicModal"><i class="fas fa-edit text-muted"></i></button>
                              <button type="button" class="btn btn-sm"><i class="fas fa-trash-alt text-muted"></i></button>
                            </span>
                        </div>
                      </div>
                    </div>
                    `;
                  }

                  topicItemsContainer.append(topicItemList);
                });
              },
              error: function (xhr, status, error) {
                console.log(xhr);
                console.log(status);
                console.log(error);
                alert("Error: " + xhr.responseJSON.error);
                // Handle the error and update the UI accordingly
              },
            });
          });
        },
        error: function (xhr, status, error) {
          alert("Error fetching topic list.");
        },
      });
    }

    const updateTopicModal = document.getElementById("updateTopicModal");
    if (updateTopicModal) {
      updateTopicModal.addEventListener("show.bs.modal", (event) => {
        const button = event.relatedTarget;
        const topicId = button.getAttribute("data-bs-topic-id");
        const topicTitle = button.getAttribute("data-bs-topic-title");
        const topicSummary = button.getAttribute("data-bs-topic-summary");
        const topicSortOrder = button.getAttribute("data-bs-topic-sort");

        const modalTitle = updateTopicModal.querySelector(".modal-title");
        modalTitle.textContent = `Edit: ${topicTitle}`;

        $("#updateTopicForm input[name='title']").val(topicTitle);
        $("#updateTopicForm input[name='topicId']").val(topicId);
        $("#updateTopicForm textarea[name='summary']").val(topicSummary);
        $("#updateTopicForm input[name='sort_order']").val(topicSortOrder);
      });
    }

    // Sortable Topic list
    const sortableTopicList = new Sortable(
      document.getElementById("topicsList"),
      {
        handle: '.SortHandle',
        animation: 150,
        onEnd: function (evt) {
          const item = evt.item;
          console.log("item", item)
          const newIndex = evt.newIndex;
          console.log("index", newIndex)
          const topicId = $(item)
            .find(".editTopicButton")
            .attr("data-bs-topic-id");
          const topicTitle = $(item)
            .find(".editTopicButton")
            .attr("data-bs-topic-title");
          const topicSummary = $(item)
            .find(".editTopicButton")
            .attr("data-bs-topic-summary");

          url = `/courses/update-topic/${topicId}/`;

          $.ajax({
            type: "POST",
            url: url,
            headers: {
              "X-CSRFToken": "{{ csrf_token }}",
            },
            data: {
              sort_order: newIndex + 1,
              title: topicTitle,
              summary: topicSummary,
            },
            success: function (data) {
              console.log("Topic sort order updated");
            },
            error: function (xhr, status, error) {
              var errorMessage = JSON.parse(xhr.responseText).error_message;
              console.log(errorMessage);
            },
          });
        },
      }
    );

    // Create Lesson
    $(document).on("click", ".create-lesson-btn", function (e) {
      const topicId = $(this).data("topic-id");
      const url = "/courses/create-lesson/" + topicId + "/";
      let data = {
        title: $(`#create-lesson-title-${topicId}`).val(),
        content: $(`#create-lesson-content-${topicId}`).val(),
        enable_preview: $(`#create-lesson-enable_preview-${topicId}`).prop(
          "checked"
        ),
      };
      let feature_image = $(
        `#create-lesson-feature_image-${topicId}`
      ).val();
      if (feature_image) {
        data.feature_image = parseInt(feature_image);
      }
      let attachments = $(`#create-lesson-attachments-${topicId}`).val();
      if (attachments) {
        attachments = attachments.split(",");
        attachments = attachments.map(function (attachment) {
          return parseInt(attachment);
        });
        data.attachments = attachments;
      }

      console.log("testing " + topicId);

      $.ajax({
        type: "POST",
        url: url,
        data: JSON.stringify(data),
        headers: {
          "X-CSRFToken": "{{ csrf_token }}",
        },
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (response) {
          // Refresh media list after successful upload
          fetchTopicsList();
          $("#lessonModal").modal("hide");
        },
        error: function (xhr, status, error) {
          console.log(xhr);
          console.log(status);
          console.log(error);
          alert("Error: " + xhr.responseJSON.error);
          // Handle the error and update the UI accordingly
        },
      });
    });

    // Function to update media
    function updateTopic(topicId, newData) {
      $.ajax({
        type: "POST",
        url: `/courses/update-topic/${topicId}/`, // URL to the update_media view
        data: newData,
        headers: {
          "X-CSRFToken": "{{ csrf_token }}",
        },
        success: function (response) {
          alert("Topic updated successfully!");
          fetchTopicsList(); // Refresh the media list after successful update
        },
        error: function (xhr, status, error) {
          alert("An error occurred while updating topic.");
        },
      });
    }

    // Event listener for updating media
    $(document).on("click", ".update-topic-btn", function () {
      const topicId = $(this).data("topic-id");
      const newData = {
        title: $(`#title-${topicId}`).val(),
        summary: $(`#summary-${topicId}`).val(),
        sort_order: $(`#sort_order-${topicId}`).val(),
      };
      updateTopic(topicId, newData);
    });

    // Fetch the media list when the page loads
    fetchTopicsList();






    $(".create-lesson-button").click()







    // Just for testing
    function send() {
      $.ajax({
        type: "POST",
        url: `/courses/update-lesson/2/`,
        data: JSON.stringify({
          title: "new title",
          content: "new content",
          feature_image: 1,
          attachments: [1, 2],
          enable_preview: true,
          sort_order: 7,
        }),
        headers: {
          //"X-CSRFToken": "GIbkVUJyC7laepZpy8Fh4qR6KwNEMmxJaNANPB9ukHGtBKWUM1TVW0GxzV2khy7p",
          "X-CSRFToken": "{{ csrf_token }}",
        },
        success: function (response) {
          console.log(response);
        },
        error: function (xhr, status, error) {
          console.log(xhr);
          console.log(status);
          console.log(error);
          alert("Error: " + xhr.responseJSON.error);
          // Handle the error and update the UI accordingly
        },
      });
    }

    // Just for testing
    function send() {
      $.ajax({
        type: "POST",
        url: `/courses/update-assignment/2/`,
        data: JSON.stringify({
          title: "new title.....",
          summary: "new summary......",
          time_limit: "500:05:00",
          time_limit_unit: "W",
          total_points: 101,
          min_pass_points: 1,
          max_file_uploads: 11,
          file_size_limit: 1,
          attachments: [3],
          sort_order: 1,
        }),
        headers: {
          //"X-CSRFToken": "GIbkVUJyC7laepZpy8Fh4qR6KwNEMmxJaNANPB9ukHGtBKWUM1TVW0GxzV2khy7p",
          "X-CSRFToken": "{{ csrf_token }}",
        },
        success: function (response) {
          console.log(response);
        },
        error: function (xhr, status, error) {
          console.log(xhr);
          console.log(status);
          console.log(error);
          alert("Error: " + xhr.responseJSON.error);
          // Handle the error and update the UI accordingly
        },
      });
    }

    // Just for testing
    function send() {
      $.ajax({
        type: "POST",
        url: `/courses/create-assignment/1/`, // 1 is the topic id
        data: JSON.stringify({
          title: "new title",
          summary: "new summary",
          time_limit: "100:05:00",
          time_limit_unit: "H",
          total_points: 100,
          min_pass_points: 0,
          max_file_uploads: 10,
          file_size_limit: 5,
          attachments: [1, 2],
        }),
        headers: {
          "X-CSRFToken":
            "5zzXIsITn8LUfjiwVwISXpcSOVi6MYSgzEYqC98P5I6dCEf19pWwPZ1jDkxMhasW",
          //"X-CSRFToken": "{{ csrf_token }}",
        },
        success: function (response) {
          console.log(response);
        },
        error: function (xhr, status, error) {
          console.log(xhr);
          console.log(status);
          console.log(error);
          alert("Error: " + xhr.responseJSON.error);
          // Handle the error and update the UI accordingly
        },
      });
    }
    // Just for testing
    function send() {
      $.ajax({
        type: "POST",
        url: `/courses/create-quiz/1/`, // 1 is the topic id
        data: JSON.stringify({
          title: "new title",
          summary: "new summary",
          time_limit: "100:05:00",
          time_limit_unit: "H",
          hide_time_display: false,
          feedback_mode: "D",
          max_attempts_allowed: 10,
          passing_percentage: 80,
          max_questions: 1,
          auto_start: false,
          hide_question_no: false,
          short_ans_char_limit: 200,
          long_ans_char_limit: 500,
        }),
        headers: {
          "X-CSRFToken":
            "5zzXIsITn8LUfjiwVwISXpcSOVi6MYSgzEYqC98P5I6dCEf19pWwPZ1jDkxMhasW",
          //"X-CSRFToken": "{{ csrf_token }}",
        },
        success: function (response) {
          console.log(response);
        },
        error: function (xhr, status, error) {
          console.log(xhr);
          console.log(status);
          console.log(error);
          alert("Error: " + xhr.responseJSON.error);
          // Handle the error and update the UI accordingly
        },
      });
    }

    function send() {
      $.ajax({
        type: "POST",
        url: `/courses/update-quiz/2/`, // 2 is the quiz id
        data: JSON.stringify({
          title: "new title",
          summary: "new summary",
          time_limit: "100:05:00",
          time_limit_unit: "H",
          hide_time_display: false,
          feedback_mode: "D",
          max_attempts_allowed: 10,
          passing_percentage: 80,
          max_questions: 1,
          auto_start: false,
          hide_question_no: false,
          short_ans_char_limit: 200,
          long_ans_char_limit: 500,
          sort_order: 1,
        }),
        headers: {
          "X-CSRFToken":
            "5zzXIsITn8LUfjiwVwISXpcSOVi6MYSgzEYqC98P5I6dCEf19pWwPZ1jDkxMhasW",
          //"X-CSRFToken": "{{ csrf_token }}",
        },
        success: function (response) {
          console.log(response);
        },
        error: function (xhr, status, error) {
          console.log(xhr);
          console.log(status);
          console.log(error);
          alert("Error: " + xhr.responseJSON.error);
          // Handle the error and update the UI accordingly
        },
      });
    }

    function send() {
      $.ajax({
        type: "POST",
        url: `/courses/create-question/1/`, // 1 is the quiz id
        data: JSON.stringify({
          title: "tf question",
          description: "some description...",
          type: "TF",
          answer_required: false,
          randomize_options: false,
          points: 10,
          display_points: false,
          tf_correct_answer: true,
          tf_true_first: true,
          fb_question_title: "",
          fb_correct_answer: "",
        }),
        headers: {
          "X-CSRFToken":
            "5zzXIsITn8LUfjiwVwISXpcSOVi6MYSgzEYqC98P5I6dCEf19pWwPZ1jDkxMhasW",
          //"X-CSRFToken": "{{ csrf_token }}",
        },
        success: function (response) {
          console.log(response);
        },
        error: function (xhr, status, error) {
          console.log(xhr);
          console.log(status);
          console.log(error);
          alert("Error: " + xhr.responseJSON.error);
          // Handle the error and update the UI accordingly
        },
      });
    }

    function send() {
      $.ajax({
        type: "POST",
        url: `/courses/update-question/1/`, // 1 is the question id
        data: JSON.stringify({
          title: "tf question",
          description: "some description...",
          type: "TF",
          answer_required: false,
          randomize_options: false,
          points: 10,
          display_points: false,
          tf_correct_answer: true,
          tf_true_first: true,
          fb_question_title: "",
          fb_correct_answer: "",
          sort_order: 2,
        }),
        headers: {
          "X-CSRFToken":
            "5zzXIsITn8LUfjiwVwISXpcSOVi6MYSgzEYqC98P5I6dCEf19pWwPZ1jDkxMhasW",
          //"X-CSRFToken": "{{ csrf_token }}",
        },
        success: function (response) {
          console.log(response);
        },
        error: function (xhr, status, error) {
          console.log(xhr);
          console.log(status);
          console.log(error);
          alert("Error: " + xhr.responseJSON.error);
          // Handle the error and update the UI accordingly
        },
      });
    }

    function send() {
      $.ajax({
        type: "GET",
        url: `/courses/list-questions/1/`, // 1 is the quiz id
        success: function (response) {
          console.log(response);
        },
        error: function (xhr, status, error) {
          console.log(xhr);
          console.log(status);
          console.log(error);
          alert("Error: " + xhr.responseJSON.error);
          // Handle the error and update the UI accordingly
        },
      });
    }

    function send() {
      $.ajax({
        type: "POST",
        url: `/courses/create-option/1/`, // 1 is the question id
        data: JSON.stringify({
          title: "option 1",
          image: null,
          display_format: "T",
          o_correct_order: 0,
          m_matched_ans_title: "",
          is_correct: false,
        }),
        headers: {
          "X-CSRFToken":
            "5zzXIsITn8LUfjiwVwISXpcSOVi6MYSgzEYqC98P5I6dCEf19pWwPZ1jDkxMhasW",
          //"X-CSRFToken": "{{ csrf_token }}",
        },
        success: function (response) {
          console.log(response);
        },
        error: function (xhr, status, error) {
          console.log(xhr);
          console.log(status);
          console.log(error);
          alert("Error: " + xhr.responseJSON.error);
          // Handle the error and update the UI accordingly
        },
      });
    }

    function send() {
      $.ajax({
        type: "POST",
        url: `/courses/update-option/1/`, // 1 is the option id
        data: JSON.stringify({
          title: "option 1",
          image: null,
          display_format: "T",
          o_correct_order: 0,
          m_matched_ans_title: "",
          is_correct: false,
          sort_order: 2, // new
        }),
        headers: {
          "X-CSRFToken":
            "5zzXIsITn8LUfjiwVwISXpcSOVi6MYSgzEYqC98P5I6dCEf19pWwPZ1jDkxMhasW",
          //"X-CSRFToken": "{{ csrf_token }}",
        },
        success: function (response) {
          console.log(response);
        },
        error: function (xhr, status, error) {
          console.log(xhr);
          console.log(status);
          console.log(error);
          alert("Error: " + xhr.responseJSON.error);
          // Handle the error and update the UI accordingly
        },
      });
    }

    function send() {
      $.ajax({
        type: "GET",
        url: `/courses/list-options/1/`, // 1 is the question id
        success: function (response) {
          console.log(response);
        },
        error: function (xhr, status, error) {
          console.log(xhr);
          console.log(status);
          console.log(error);
          alert("Error: " + xhr.responseJSON.error);
          // Handle the error and update the UI accordingly
        },
      });
    }
  });
</script>