{% load static %}
<!--Course Builder-->
<div class="card text-start mb-3">
  <div class="card-body p-0">
    <div class="section p-4" style="cursor: pointer" data-bs-toggle="collapse" href="#card3">
      <i class="fas fa-chevron-down text-primary"></i>
      <span class="fs-4">&nbsp;&nbsp;Course Builder</span>
    </div>
    <div class="collapse show" id="card3">
      <div class="m-4 mt-0">
        <div class="row">
          <div id="topic-list">
            <div id="topicsList"></div>
          </div>
        </div>
        <button type="button" class="btn btn-primary p-3" data-bs-toggle="modal" data-bs-target="#topicModal">
          <i class="fas fa-plus-square"></i>
          <span>&nbsp;&nbsp;Add New Topic</span>
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    fetchTopicsList();
    // Create Topic
    $("#topic-create-form").submit(function (e) {
      e.preventDefault();
      const form = $(this);
      const url = "{% url 'courses:create_topic' course.pk %}";

      $.ajax({
        type: "POST",
        url: url,
        data: new FormData(this),
        headers: {
          "X-CSRFToken": "{{ csrf_token }}",
        },
        processData: false,
        contentType: false,
        success: function (response) {
          // alert(response.message);
          // Refresh media list after successful upload
          fetchTopicsList();
          form.trigger("reset");
          $("#topicModal").modal("hide");
        },
        error: function (xhr, status, error) {
          alert("Error: " + xhr.responseJSON.error);
          // Handle the error and update the UI accordingly
        },
      });
    });

    // Update Topic form
    $("#updateTopicForm").submit(function (event) {
      event.preventDefault();

      $("#saveUpdateTopic").html(
        '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> <b>Saving...</b>'
      );

      topicId = $("#updateTopicForm input[name='topicId']").val();
      url = `/courses/update-topic/${topicId}/`;
      form = $("#updateTopicForm").serialize();

      $.ajax({
        type: "POST",
        url: url,
        headers: {
          "X-CSRFToken": "{{ csrf_token }}",
        },
        data: form,
        success: function (data) {
          $("#saveUpdateTopic").html("<span><b>Save Topic</b></span>");
          $("#updateTopicModal").modal("hide");
          fetchTopicsList();
        },
        error: function (xhr, status, error) {
          var errorMessage = JSON.parse(xhr.responseText).error_message;
          console.log(errorMessage);
        },
      });
    });

    

    const updateTopicModal = document.getElementById("updateTopicModal");
    if (updateTopicModal) {
      updateTopicModal.addEventListener("show.bs.modal", (event) => {
        const button = event.relatedTarget;
        const topicId = button.getAttribute("data-bs-topic-id");
        const topicTitle = button.getAttribute("data-bs-topic-title");
        const topicSummary = button.getAttribute("data-bs-topic-summary");
        const topicSortOrder = button.getAttribute("data-bs-topic-sort");

        const modalTitle = updateTopicModal.querySelector(".modal-title");
        modalTitle.textContent = `Edit: ${topicTitle}`;

        $("#updateTopicForm input[name='title']").val(topicTitle);
        $("#updateTopicForm input[name='topicId']").val(topicId);
        $("#updateTopicForm textarea[name='summary']").val(topicSummary);
        $("#updateTopicForm input[name='sort_order']").val(topicSortOrder);
      });
    }

    // Sortable Topic list
    const sortableTopicList = new Sortable(
      document.getElementById("topicsList"),
      {
        handle: '.SortHandle',
        animation: 150,
        onEnd: function (evt) {
          const item = evt.item;
          console.log("item", item)
          const newIndex = evt.newIndex;
          console.log("index", newIndex)
          const topicId = $(item)
            .find(".editTopicButton")
            .attr("data-bs-topic-id");
          const topicTitle = $(item)
            .find(".editTopicButton")
            .attr("data-bs-topic-title");
          const topicSummary = $(item)
            .find(".editTopicButton")
            .attr("data-bs-topic-summary");

          url = `/courses/update-topic/${topicId}/`;

          $.ajax({
            type: "POST",
            url: url,
            headers: {
              "X-CSRFToken": "{{ csrf_token }}",
            },
            data: {
              sort_order: newIndex + 1,
              title: topicTitle,
              summary: topicSummary,
            },
            success: function (data) {
              console.log("Topic sort order updated");
            },
            error: function (xhr, status, error) {
              var errorMessage = JSON.parse(xhr.responseText).error_message;
              console.log(errorMessage);
            },
          });
        },
      }
    );

    // Function to update media
    function updateTopic(topicId, newData) {
      $.ajax({
        type: "POST",
        url: `/courses/update-topic/${topicId}/`, // URL to the update_media view
        data: newData,
        headers: {
          "X-CSRFToken": "{{ csrf_token }}",
        },
        success: function (response) {
          alert("Topic updated successfully!");
          fetchTopicsList(); // Refresh the media list after successful update
        },
        error: function (xhr, status, error) {
          alert("An error occurred while updating topic.");
        },
      });
    }

    // Event listener for updating media
    $(document).on("click", ".update-topic-btn", function () {
      const topicId = $(this).attr("data-topic-id");
      const newData = {
        title: $(`#title-${topicId}`).val(),
        summary: $(`#summary-${topicId}`).val(),
        sort_order: $(`#sort_order-${topicId}`).val(),
      };
      updateTopic(topicId, newData);
    });

    // Fetch the media list when the page loads
    fetchTopicsList();



    var activeTopicId = null;


    $(".create-lesson-button").click(
      function (e) {
        activeTopicId = $(this).attr("data-topic-id");
        console.log(activeTopicId);
      }
    );

  });
</script>