<script src="https://cdn.ckeditor.com/ckeditor5/39.0.0/classic/ckeditor.js"></script>

<div class="card text-start mb-3">
    <div class="card-body p-0">
        <div class="section p-4" style="cursor: pointer;" data-bs-toggle="collapse" href="#card1">
            <i class="fas fa-chevron-down text-primary"></i>
            <span class="fs-4">&nbsp;&nbsp;Course Info</span>
        </div>
        <div class="collapse show" id="card1">
            <div class="m-4 mt-0">

                <div class="form-outline mb-4">
                    <label class="form-label my-2 fw-bold">Course Title</label>
                    <input type="text" id="title" name="title" value="{{ course.title }}" class="form-control p-3"
                        placeholder="New Course" />
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label my-2 fw-bold">Course Slug</label>
                    <input type="text" id="slug" name="slug" value="{{ course.slug }}" class="form-control p-3"
                        placeholder="new-course" />
                    <div class="py-2">Permalink: {{ request.get_full_path }}
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label my-2 fw-bold">Description</label>
                    <div id="editor">
                        {{ course.description|safe }}
                    </div>
                    <textarea id="desc-data" name="description" style="display: none;"></textarea>
                </div>

                <b>Course Settings</b>
                <div class="row p-2 mb-2">
                    <div class="col-4 p-0 bg-light border rounded-start" style="border-right: none !important;">
                        <div class="p-3 text-primary">
                            <i class="fas fa-cog"></i> General
                        </div>
                    </div>
                    <div class="col-8 border rounded-end">
                        <div class="row px-3 py-2">
                            <div class="form-outline mb-3">
                                <label class="form-label my-2 fw-bold">Maximum Students</label>
                                <input type="number" id="max_students" name="max_students"
                                    value="{{ course.max_students }}" class="form-control p-3 mb-2"
                                    placeholder="Maximum Students" />
                                <small class="text-muted">
                                    <i class="fal fa-info-circle"></i> Number of students that
                                    can enrol in this course. Set 0 for no limits.
                                </small>
                            </div>
                        </div>
                        <div class="row px-3 py-2">
                            <div class="form-outline mb-3">
                                <label class="form-label my-2 fw-bold" for="difficulty_level">Difficulty
                                    Level</label>
                                <select class="form-select p-3 mb-2" id="difficulty_level" name="difficulty_level"
                                    aria-label="Select Difficulty Level">
                                    <option>{{ course.difficulty_level }}</option>
                                    <option value="A" {% if course.difficulty_level == 'B' %} selected {% endif %}>
                                        All Levels</option>
                                    <option value="B" {% if course.difficulty_level == 'B' %} selected {% endif %}>
                                        Beginner</option>
                                    <option value="I" {% if course.difficulty_level == 'I' %} selected {% endif %}>
                                        Intermediate</option>
                                    <option value="E" {% if course.difficulty_level == 'E' %} selected {% endif %}>
                                        Expert</option>
                                </select>
                                <small class="text-muted">
                                    <i class="fal fa-info-circle"></i> Course difficulty level.
                                </small>
                            </div>
                        </div>
                        <div class="row px-3 py-2">
                            <div class="form-outline mb-3">
                                <label class="form-label my-2 fw-bold" for="is_public">Public Course</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="is_public" name="is_public" {% if course.is_public %} checked {% endif %}>
                                </div>
                                <small class="text-muted">
                                    <i class="fal fa-info-circle"></i> Make This Course Public.
                                    No enrollment required.
                                </small>
                            </div>
                        </div>
                        <div class="row px-3 py-2">
                            <div class="form-outline mb-3">
                                <label class="form-label my-2 fw-bold" for="enable_qa">Q&A</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="enable_qa" name="enable_qa" {% if course.enable_qa %} checked {% endif %}>
                                </div>
                                <small class="text-muted">
                                    <i class="fal fa-info-circle"></i> Enable Q&A section for your
                                    course.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label my-2 fw-bold" for="language">Choose a language</label>
                    <select class="form-select p-3 mb-2" id="language" name="language" aria-label="Select Language">
                        <option value="E" {% if course.language == 'E' %} selected {% endif %}>English</option>
                        <option value="F" {% if course.language == 'F' %} selected {% endif %}>French</option>
                        <option value="G" {% if course.language == 'G' %} selected {% endif %}>German</option>
                        <option value="I" {% if course.language == 'I' %} selected {% endif %}>Italian</option>
                        <option value="J" {% if course.language == 'J' %} selected {% endif %}>Japanese</option>
                        <option value="K" {% if course.language == 'K' %} selected {% endif %}>Korean</option>
                        <option value="R" {% if course.language == 'R' %} selected {% endif %}>Russian</option>
                        <option value="S" {% if course.language == 'S' %} selected {% endif %}>Spanish</option>
                    </select>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label my-2 fw-bold" for="category">Choose a category</label>
                    <select class="form-select p-3 mb-2" id="category" name="category" aria-label="Select Category">
                        <option selected>Open this select menu</option>
                        <option selected value="1" {% if course.category == '1' %} selected {% endif %}>Category 1
                        </option>
                        <option value="2" {% if course.category == '2' %} selected {% endif %}>Category 2</option>
                        <option value="3" {% if course.category == '3' %} selected {% endif %}>Category 3</option>
                    </select>
                </div>


                <div class="form-outline mb-4">
                    <label class="form-label my-2 fw-bold">Course price</label>
                    <div class="d-flex gap-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="course_price" id="free" value="free" {% if not course.price %} checked {% endif %}>
                            <label class="form-check-label" for="free">
                                Free
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="course_price" id="paid" value="paid" {% if course.price %} checked {% endif %}>
                            <label class="form-check-label" for="paid">
                                Paid
                            </label>
                        </div>
                    </div>
                </div>


                <p>
                    <label for="id_language">Language:</label>
                    <select name="language" id="id_language">
                        <option value="E" selected="">English</option>

                        <option value="F">French</option>

                        <option value="G">German</option>

                        <option value="I">Italian</option>

                        <option value="J">Japanese</option>

                        <option value="K">Korean</option>

                        <option value="R">Russian</option>

                        <option value="S">Spanish</option>

                    </select>


                </p>


                <p>
                    <label for="id_category">Category:</label>
                    <select name="category" id="id_category">
                        <option value="" selected="">---------</option>

                        <option value="6">Five</option>

                        <option value="5">Four</option>

                        <option value="2">One</option>

                        <option value="4">Three</option>

                        <option value="3">Two</option>

                    </select>


                </p>


                <p>
                    <label for="id_price">Price:</label>
                    <input type="number" name="price" step="0.01" id="id_price">


                </p>


                <p>
                    <label for="id_discount_price">Discount price:</label>
                    <input type="number" name="discount_price" step="0.01" id="id_discount_price">


                </p>


                <p>
                    <label for="id_thumbnail">Thumbnail:</label>
                    <select name="thumbnail" id="id_thumbnail">
                        <option value="" selected="">---------</option>

                    </select>


                </p>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#builderModal">
                    Upload Image
                </button>

                <!-- Modal -->
                <div class="modal fade" id="builderModal" tabindex="-1" aria-labelledby="builderModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen">
                        <div class="modal-content">
                            <div class="modal-header border-0">
                                <h1 class="modal-title fs-5" id="builderModalLabel">Media Management</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body p-0">
                                {% include 'media_library/mediaManagement.html' %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Select Media</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .then(editor => {
            const editorDataTextarea = document.querySelector('#desc-data');
            editor.model.document.on('change', () => {
                editorDataTextarea.value = editor.getData();
            });
        })
        .catch(error => {
            console.error(error);
        });
</script>