<!--Course Builder-->
<div class="card text-start mb-3">
  <div class="card-body p-0">
    <div class="section p-4" style="cursor: pointer" data-bs-toggle="collapse" href="#card3">
      <i class="fas fa-chevron-down text-primary"></i>
      <span class="fs-4">&nbsp;&nbsp;Course Builder</span>
    </div>
    <div class="collapse show" id="card3">
      <div class="m-4 mt-0">
        <div class="row">
          <div id="topic-list">
            <div id="topicsList"></div>
          </div>
        </div>
        <button type="button" class="btn btn-primary p-3" data-bs-toggle="modal" data-bs-target="#topicModal">
          <i class="fas fa-plus-square"></i>
          <span>&nbsp;&nbsp;Add New Topic</span>
        </button>
      </div>
    </div>
  </div>
</div>