<div class="card text-start mb-3">
    <div class="card-body p-0">
        <div class="section p-4" style="cursor: pointer;" data-bs-toggle="collapse" href="#card4">
            <i class="fas fa-chevron-down text-primary"></i>
            <span class="fs-4">&nbsp;&nbsp;Instructor</span>
        </div>
        <div class="collapse show" id="card4">
            <div class="m-4 mt-0">
                <!--content in here-->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="d-flex align-items-center gap-3 gap-lg-4">
                                    <div>
                                        <a class="position-relative">
                                            <img style="width: 48px; border-radius: 100%;"
                                                src="https://www.gravatar.com/avatar/cd935c35ae34731f14609bc53055aec6?s=150&r=g&d=mm"
                                                alt="user photo">
                                            <span class="position-absolute translate-middle badge rounded-pill"
                                                style="top: -10px; left: 95%">
                                                <span>
                                                    <i class="fas fa-crown"
                                                        style="transform: rotate(45deg); color: #ffa600; font-size: 1.5em;"></i>
                                                </span>
                                                <span class="visually-hidden">OP instructor</span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <b class="greet-text">Instructor 1
                                        </b>
                                        <b style="color: #9e9e9e;">
                                            email@examole.com
                                        </b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="d-flex align-items-center gap-3 gap-lg-4">
                                    <img style="width: 48px; border-radius: 100%;"
                                        src="https://www.gravatar.com/avatar/cd935c35ae34731f14609bc53055aec6?s=150&r=g&d=mm"
                                        alt="user photo">
                                    <div class="d-flex flex-column">
                                        <b class="greet-text">Instructor 2
                                        </b>
                                        <b style="color: #9e9e9e;">
                                            email@examole.com
                                        </b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="d-flex align-items-center gap-3 gap-lg-4">
                                    <img style="width: 48px; border-radius: 100%;"
                                        src="https://www.gravatar.com/avatar/cd935c35ae34731f14609bc53055aec6?s=150&r=g&d=mm"
                                        alt="user photo">
                                    <div class="d-flex flex-column">
                                        <b class="greet-text">Instructor 3
                                        </b>
                                        <b style="color: #9e9e9e;">
                                            email@examole.com
                                        </b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" data-bs-toggle="modal" data-bs-target="#instructorModal" class="btn btn-outline-primary p-3">
                    <i class="fal fa-users-medical"></i>
                    <span>&nbsp;&nbsp;Add Instructor</span>
                </button>
            </div>
            <div class="m-4 mt-0">
                <p>
                    <label for="id_instructors" class="text-danger">Instructors:</label>
                    <select name="instructors" id="id_instructors" multiple="">
                        <option value="1">a</option>

                        <option value="2">admin</option>

                        <option value="3">neerajadhav</option>

                    </select>


                </p>

            </div>
        </div>
    </div>
</div>