{% load static %}
<!-- Add Topic -->
<div class="modal fade" id="topicModal" tabindex="-1" aria-labelledby="topicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="topicModalLabel">Add Topic</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="topic-create-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body px-4">
          <div class="form-outline mb-3">
            <label class="form-label my-2 fw-bold">Topic Name</label>
            <input type="text" name="title" id="title" class="form-control p-3 mb-2" placeholder="Topic Name"
              required />
            <small class="text-muted">
              <i class="fal fa-info-circle"></i> Topic titles are displayed
              publicly wherever required. Each topic may contain one or more
              lessons, quiz and assignments.
            </small>
          </div>

          <div class="form-outline mb-3">
            <label class="form-label my-2 fw-bold">Topic Summary</label>
            <textarea name="summary" class="form-control p-3 mb-2" rows="3" id="summary"></textarea>
            <small class="text-muted" required>
              <i class="fal fa-info-circle"></i> Add a summary of short text to
              prepare students for the activities for the topic. The text is
              shown on the course page beside the tooltip beside the topic name.
            </small>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Create Topic</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Topic -->
<div class="modal fade" id="updateTopicModal" tabindex="-1" aria-labelledby="updateTopicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateTopicModalLabel">
          Edit Topic
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="updateTopicForm" method="POST">
        <input class="d-none" type="text" name="topicId" />
        <input class="d-none" type="text" name="sort_order" />

        <div class="modal-body px-4">
          <div class="form-outline mb-3">
            <label class="form-label my-2 fw-bold">Topic Name</label>
            <input type="text" name="title" class="form-control p-3 mb-2" placeholder="Topic Name" required />
            <small class="text-muted">
              <i class="fal fa-info-circle"></i> Topic titles are displayed
              publicly wherever required. Each topic may contain one or more
              lessons, quiz and assignments.
            </small>
          </div>

          <div class="form-outline mb-3">
            <label class="form-label my-2 fw-bold">Topic Summary</label>
            <textarea name="summary" class="form-control p-3 mb-2" rows="3"></textarea>
            <small class="text-muted" required>
              <i class="fal fa-info-circle"></i> Add a summary of short text
              to prepare students for the activities for the topic. The text
              is shown on the course page beside the tooltip beside the
              topic name.
            </small>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button id="saveUpdateTopic" type="submit" class="btn btn-primary">
            Save Topic
          </button>
        </div>
      </form>
    </div>
  </div>
</div>