<!-- product_form.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Management</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save as draft</button>
        <button type="submit" name="submit_for_review">Submit for review</button>
      </form>

      <hr>

      <div id="topic-list">
        <h2>Create topic</h2>
        <form id="topic-create-form" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" name="title">
          </div>
          <div class="form-group">
            <label for="summary">Summary:</label>
            <textarea class="form-control" id="summary" name="summary"></textarea>
          </div>
          
          <button type="submit" class="btn btn-primary">Create Topic</button>
        </form>
        
        <hr>

        <h2>Topics</h2>
        <div id="topics-accordion">
            <!-- Topics items will be dynamically added here -->
        </div>

      </div>
    </div>

    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
             

          // AJAX Upload Form
          $("#topic-create-form").submit(function(e) {
            e.preventDefault();
            const form = $(this);
            const url = "{% url 'courses:create_topic' course.pk %}";

            $.ajax({
                type: "POST",
                url: url,
                data: new FormData(this),
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                processData: false,
                contentType: false,
                success: function(response) {
                    alert(response.message);
                    // Refresh media list after successful upload
                    fetchTopicsList();
                },
                error: function(xhr, status, error) {
                    alert("Error: " + xhr.responseJSON.error);
                    // Handle the error and update the UI accordingly
                },
            });
        });


        $(document).on("click", ".create-lesson-btn", function(e) {
          const topicId = $(this).data("topic-id");
          const url = "/courses/create-lesson/" + topicId + "/";
          let data = {
            title: $(`#create-lesson-title-${topicId}`).val(),
            content: $(`#create-lesson-content-${topicId}`).val(),
            enable_preview: $(`#create-lesson-enable_preview-${topicId}`).prop('checked'),
          }
          let feature_image = $(`#create-lesson-feature_image-${topicId}`).val();
          if (feature_image) {
            data.feature_image = parseInt(feature_image);
          }
          let attachments = $(`#create-lesson-attachments-${topicId}`).val();
          if (attachments) {
            attachments = attachments.split(",");
            attachments = attachments.map(function(attachment) {
              return parseInt(attachment);
            });
            data.attachments = attachments;
          }

          $.ajax({
              type: "POST",
              url: url,
              data: JSON.stringify(data),
              headers: {
                  "X-CSRFToken": "{{ csrf_token }}",
              },
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              success: function(response) {
                  alert(response.message);
                  // Refresh media list after successful upload
                  fetchTopicsList();
              },
              error: function(xhr, status, error) {
                  console.log(xhr);
                  console.log(status);
                  console.log(error);
                  alert("Error: " + xhr.responseJSON.error);
                  // Handle the error and update the UI accordingly
              },
          });
      });

            // Function to fetch and display the topics list
            function fetchTopicsList() {
                const url = "{% url 'courses:list_topics' course.pk %}";

                $.ajax({
                    type: "GET",
                    url: url,
                    success: function(response) {
                        const topicList = response.topics;
                        const topicListContainer = $("#topic-list #topics-accordion");
                        topicListContainer.empty();

                        topicList.forEach(function(topic, index) {
                            
                            const topicElement = `
                            <div class="card">
                                <div class="card-header" id="heading${index}">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse${index}" aria-expanded="true" aria-controls="collapse${index}">
                                        ${topic.title}
                                    </button>
                                  </h5>
                                </div>
                          
                                <div id="collapse${index}" class="collapse" aria-labelledby="heading${index}" data-parent="#topics-accordion">
                                  <div class="card-body">
                                    <h4>Edit topic</h4>
                                    <div class="form-group">
                                        <label for="title">Title:</label>
                                        <input type="text" class="form-control" id="title-${topic.id}" value="${topic.title}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="summary">Summary:</label>
                                        <textarea class="form-control" id="summary-${topic.id}">${topic.summary}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="sort_order">Sort order:</label>
                                        <input type="text" class="form-control" id="sort_order-${topic.id}" value="${topic.sort_order}">
                                    </div>
                                    <button class="btn btn-primary update-topic-btn" data-topic-id="${topic.id}">Update</button>
                                  
                                    <hr>

                                    <h4>Create lesson</h4>
                                    <div class="lesson-create-form">
                                      <div class="form-group">
                                          <label for="create-lesson-title-${topic.id}">Title:</label>
                                          <input type="text" class="form-control" id="create-lesson-title-${topic.id}" required>
                                      </div>
                                      <div class="form-group">
                                        <label for="create-lesson-content-${topic.id}">Content:</label>
                                        <input type="text" class="form-control" id="create-lesson-content-${topic.id}" required>
                                      </div>
                                      <div class="form-group">
                                        <label for="create-lesson-feature_image-${topic.id}">Feature image:</label>
                                        <input type="number" class="form-control" id="create-lesson-feature_image-${topic.id}" required>
                                      </div>
                                      <div class="form-group">
                                        <label for="create-lesson-attachments-${topic.id}">Attachments:</label>
                                        <input type="text" class="form-control" id="create-lesson-attachments-${topic.id}" required>
                                      </div>
                                      <div class="form-group">
                                        <label for="create-lesson-enable_preview-${topic.id}">enable_preview:</label>
                                        <input type="checkbox" class="form-control" id="create-lesson-enable_preview-${topic.id}" required>
                                      </div>

                                      <button class="btn btn-primary create-lesson-btn" data-topic-id="${topic.id}">Create lesson</button>
                                    </div>
                                  
                                  </div>
                                </div>
                              </div>
                            `;
                            topicListContainer.append(topicElement);

                            // Get topic items
                            $.ajax({
                              type: "GET",
                              url: `/courses/list-topic-item/${topic.id}/`,
                              headers: {
                                  "X-CSRFToken": "{{ csrf_token }}",
                              },
                              success: function(response) {
                                  console.log(topic.id)
                                  console.log(response.data);
                              },
                              error: function(xhr, status, error) {
                                  console.log(xhr);
                                  console.log(status);
                                  console.log(error);
                                  alert("Error: " + xhr.responseJSON.error);
                                  // Handle the error and update the UI accordingly
                              },
                          });

                        });
                    },
                    error: function(xhr, status, error) {
                        alert("Error fetching topic list.");
                    },
                });
            }

            // Function to update media
            function updateTopic(topicId, newData) {
                $.ajax({
                    type: "POST",
                    url: `/courses/update-topic/${topicId}/`, // URL to the update_media view
                    data: newData,
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                    success: function(response) {
                        alert("Topic updated successfully!");
                        fetchTopicsList(); // Refresh the media list after successful update
                    },
                    error: function(xhr, status, error) {
                        alert("An error occurred while updating topic.");
                    },
                });
            }

            // Event listener for updating media
            $(document).on("click", ".update-topic-btn", function() {
                const topicId = $(this).data("topic-id");
                const newData = {
                    title: $(`#title-${topicId}`).val(),
                    summary: $(`#summary-${topicId}`).val(),
                    sort_order: $(`#sort_order-${topicId}`).val(),
                };
                updateTopic(topicId, newData);
            });

            // Fetch the media list when the page loads
            fetchTopicsList();

            // Just for testing
            function send() {
              $.ajax({
                    type: "POST",
                    url: `/courses/update-lesson/2/`,
                    data: JSON.stringify({
                      title: "new title",
                      content: "new content",
                      feature_image: 1,
                      attachments: [1,2],
                      enable_preview: true,
                      sort_order: 7
                    }),
                    headers: {
                        //"X-CSRFToken": "GIbkVUJyC7laepZpy8Fh4qR6KwNEMmxJaNANPB9ukHGtBKWUM1TVW0GxzV2khy7p",
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(xhr, status, error) {
                        console.log(xhr);
                        console.log(status);
                        console.log(error);
                        alert("Error: " + xhr.responseJSON.error);
                        // Handle the error and update the UI accordingly
                    },
                });
            }


            // Just for testing
            function send() {
              $.ajax({
                    type: "POST",
                    url: `/courses/update-assignment/2/`,
                    data: JSON.stringify({
                      title: "new title.....",
                      summary: "new summary......",
                      time_limit: "500:05:00",
                      time_limit_unit: "W",
                      total_points: 101,
                      min_pass_points: 1,
                      max_file_uploads: 11,
                      file_size_limit: 1,
                      attachments: [3],
                      sort_order: 1,
                    }),
                    headers: {
                        //"X-CSRFToken": "GIbkVUJyC7laepZpy8Fh4qR6KwNEMmxJaNANPB9ukHGtBKWUM1TVW0GxzV2khy7p",
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(xhr, status, error) {
                        console.log(xhr);
                        console.log(status);
                        console.log(error);
                        alert("Error: " + xhr.responseJSON.error);
                        // Handle the error and update the UI accordingly
                    },
                });
            }

                // Just for testing
                function send() {
                  $.ajax({
                        type: "POST",
                        url: `/courses/create-assignment/1/`,  // 1 is the topic id
                        data: JSON.stringify({
                          title: "new title",
                          summary: "new summary",
                          time_limit: "100:05:00",
                          time_limit_unit: "H",
                          total_points: 100,
                          min_pass_points: 0,
                          max_file_uploads: 10,
                          file_size_limit: 5,
                          attachments: [1,2],
                        }),
                        headers: {
                            "X-CSRFToken": "5zzXIsITn8LUfjiwVwISXpcSOVi6MYSgzEYqC98P5I6dCEf19pWwPZ1jDkxMhasW",
                            //"X-CSRFToken": "{{ csrf_token }}",
                        },
                        success: function(response) {
                            console.log(response);
                        },
                        error: function(xhr, status, error) {
                            console.log(xhr);
                            console.log(status);
                            console.log(error);
                            alert("Error: " + xhr.responseJSON.error);
                            // Handle the error and update the UI accordingly
                        },
                    });

                  }
                    // Just for testing
                function send() {
                  $.ajax({
                        type: "POST",
                        url: `/courses/create-quiz/1/`,  // 1 is the topic id
                        data: JSON.stringify({
                          title: "new title",
                          summary: "new summary",
                          time_limit: "100:05:00",
                          time_limit_unit: "H",
                          hide_time_display: false,
                          feedback_mode: "D",
                          max_attempts_allowed: 10,
                          passing_percentage: 80,
                          max_questions: 1,
                          auto_start: false,
                          hide_question_no: false,
                          short_ans_char_limit: 200,
                          long_ans_char_limit: 500,
                        }),
                        headers: {
                            "X-CSRFToken": "5zzXIsITn8LUfjiwVwISXpcSOVi6MYSgzEYqC98P5I6dCEf19pWwPZ1jDkxMhasW",
                            //"X-CSRFToken": "{{ csrf_token }}",
                        },
                        success: function(response) {
                            console.log(response);
                        },
                        error: function(xhr, status, error) {
                            console.log(xhr);
                            console.log(status);
                            console.log(error);
                            alert("Error: " + xhr.responseJSON.error);
                            // Handle the error and update the UI accordingly
                        },
                    });
                  }


                  function send() {
                    $.ajax({
                          type: "POST",
                          url: `/courses/update-quiz/2/`,  // 2 is the quiz id
                          data: JSON.stringify({
                            title: "new title",
                            summary: "new summary",
                            time_limit: "100:05:00",
                            time_limit_unit: "H",
                            hide_time_display: false,
                            feedback_mode: "D",
                            max_attempts_allowed: 10,
                            passing_percentage: 80,
                            max_questions: 1,
                            auto_start: false,
                            hide_question_no: false,
                            short_ans_char_limit: 200,
                            long_ans_char_limit: 500,
                            sort_order: 1,
                          }),
                          headers: {
                              "X-CSRFToken": "5zzXIsITn8LUfjiwVwISXpcSOVi6MYSgzEYqC98P5I6dCEf19pWwPZ1jDkxMhasW",
                              //"X-CSRFToken": "{{ csrf_token }}",
                          },
                          success: function(response) {
                              console.log(response);
                          },
                          error: function(xhr, status, error) {
                              console.log(xhr);
                              console.log(status);
                              console.log(error);
                              alert("Error: " + xhr.responseJSON.error);
                              // Handle the error and update the UI accordingly
                          },
                      });
      }

        });

    </script>
</body>
</html>




  