{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Dashboard - Skilled MBA</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />

  <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}" />
  <link rel="stylesheet" href="{% static 'fonts/tutor-icons.css' %}" />

  <link rel="stylesheet" id="custom-stylesheet-css" type="text/css" media="all"
    href="{% static 'css/dashboard.css' %}" />

  <!-- ✅ Load CSS file for Select2 -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

  <!-- ✅ load jQuery ✅ -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <!-- ✅ load JS for Select2 ✅ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
    integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
</head>

<body style="background: #f8f8f8">
  <!-- Header -->
  <header id="myNavbar" class="shadow-sm bg-white position-sticky top-0" style="z-index: 10">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center gap-3 gap-lg-4">
        <div class="p-3 d-flex">
          <img class="brandingLogo m-auto" src="{% static 'images/logo.png' %}"
            loading="lazy" />
        </div>
        <button class="saveDraft btn btn-outline-primary px-lg-3 py-lg-2" type="submit" form="courseForm">
          <i class="fal fa-save"></i>
          <span>&nbsp;&nbsp;Save</span>
        </button>
      </div>
      <div class="d-flex align-items-center gap-2 gap-lg-4">
        <button class="btn btn-light text-muted border border-2 px-lg-4 px-3 py-2 d-none d-lg-inline">
          <i class="fal fa-glasses"></i>
          <span class="d-none d-lg-inline">&nbsp;&nbsp;&nbsp;Preview</span>
        </button>
        <button class="btn btn-primary px-lg-4 px-3 py-2 d-none d-lg-inline" type="submit" form="courseForm"
          name="submit_for_review">
          <span class="d-none d-lg-inline"><b>Submit for Review</b></span>
        </button>
        <a href="{% url 'account_profile' %}">
          <button class="btn btn-outline-danger px-lg-4 px-3 py-2 d-none d-lg-inline">
            <span class="d-lg-inline"> Exit </span>
          </button>
        </a>
        <button class="btn btn-light border px-3 py-2 d-lg-none" data-bs-toggle="modal" data-bs-target="#navModal">
          <i class="far fa-bars fs-5"></i>
        </button>
      </div>
    </div>
  </header>

  <span class="position-absolute trigger"></span>

  <div class="modal fade" id="navModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="bottom: 0%">
      <div class="modal-content p-3">
        <div class="d-flex flex-column gap-3">
          <button class="btn btn-light border border-2 text-muted px-3 py-2">
            <i class="fal fa-glasses"></i>
            <span>&nbsp;&nbsp;&nbsp;Preview</span>
          </button>
          <button class="btn btn-primary px-3 py-2">
            <span><b>Submit for Review</b></span>
          </button>
          <button class="btn btn-outline-danger px-3 py-2">
            <span>Discard and Exit</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-4">
    <div class="row">
      <div class="col-lg-8 pt-3">
        <form method="post" id="courseForm" enctype="multipart/form-data">
          {% csrf_token %} {% include 'courses/allinone.html' %}
        </form>

        <div class="d-flex py-3 justify-content-between">
          <button form="courseForm" type="submit" class="saveDraft btn bg-white border border-2 text-primary px-3 py-2">
            <span><b>Save course as draft</b></span>
          </button>
          <button form="courseForm" type="submit" name="submit_for_review" class="btn btn-primary px-3 py-2">
            <span><b>Submit for Review</b></span>
          </button>
        </div>
      </div>
      <div class="col-lg-4 pt-3">
        <div class="card text-start sticky-top bg-white" style="top: 12.5%; z-index: 10">
          <div class="card-body tips p-4">
            <span class="fs-4">
              <i class="far fa-lg fa-lightbulb-on text-primary"></i>
              &nbsp;&nbsp;Course Prerequisites
            </span>
            <ul>
              <li>Set the Course Price option or make it free.</li>
              <li>Standard size for course thumbnail is 700x430.</li>
              <li>Video section controls the course overview video.</li>
              <li>Course Builder is where you create & organize a course.</li>
              <li>
                Add Topics in the Course Builder section to create lessons,
                quizzes, and assignments.
              </li>
              <li>
                Prerequisites refers to the fundamental courses to complete
                before taking this particular course.
              </li>
              <li>
                Information from the Additional Data section shows up on the
                course single page.
              </li>
              <li>
                Make Announcements to notify any important notes to all
                enrolled students at once.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!---------------- Modals ---------------->

  <!-- Media Managerment -->
  <div class="modal fade" id="mediaModal" tabindex="-1" aria-labelledby="mediaModalLabel" aria-hidden="true" style="z-index: 99999999999">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h1 class="modal-title fs-5" id="mediaModalLabel">
            Media Management
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-0">
          {% include 'media_library/mediaManagement.html' %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button id="use-media-btn-js" type="button" class="btn btn-primary">Select Media</button>
        </div>
      </div>
    </div>
  </div>

  {% include 'courses/modals.html' %}

  <!-- Update Topic -->
  <div class="modal fade" id="updateTopicModal" tabindex="-1" aria-labelledby="updateTopicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="updateTopicModalLabel">
            Edit Topic
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="updateTopicForm" method="POST">
          <input class="d-none" type="text" name="topicId" />
          <input class="d-none" type="text" name="sort_order" />

          <div class="modal-body px-4">
            <div class="form-outline mb-3">
              <label class="form-label my-2 fw-bold">Topic Name</label>
              <input type="text" name="title" class="form-control p-3 mb-2" placeholder="Topic Name" required />
              <small class="text-muted">
                <i class="fal fa-info-circle"></i> Topic titles are displayed
                publicly wherever required. Each topic may contain one or more
                lessons, quiz and assignments.
              </small>
            </div>

            <div class="form-outline mb-3">
              <label class="form-label my-2 fw-bold">Topic Summary</label>
              <textarea name="summary" class="form-control p-3 mb-2" rows="3"></textarea>
              <small class="text-muted" required>
                <i class="fal fa-info-circle"></i> Add a summary of short text
                to prepare students for the activities for the topic. The text
                is shown on the course page beside the tooltip beside the
                topic name.
              </small>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button id="saveUpdateTopic" type="submit" class="btn btn-primary">
              Save Topic
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Add Instructor -->
  <div class="modal fade" id="instructorModal" tabindex="-1" aria-labelledby="instructorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="instructorModalLabel">
            Add Instructor
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input id="search-instructor-js" type="text" class="form-control searchInstructorInput mb-3"
            placeholder="Search instructors..." />
          <div id="instructor-list-js">



          </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Lesson -->
  <div class="modal fade" id="lessonModal" tabindex="-1" aria-labelledby="lessonModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="lessonModalLabel">Lesson</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="lesson-form">
          {% csrf_token %}
          <div class="modal-body px-4">
            <div class="form-outline mb-3">
              <label class="form-label my-2 fw-bold">Lesson Name</label>
              <input type="text" id="lesson-title" name="title" class="form-control p-3 mb-2" value="test title" required />
              <small class="text-muted">
                <i class="fal fa-info-circle"></i> Lesson titles are displayed
                publicly wherever required.
              </small>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label my-2 fw-bold">Lesson Content</label>
              <textarea id="lesson-content-editor">
              </textarea>
              <br />
              <small class="text-muted">
                <i class="fal fa-info-circle"></i> The idea of a summary is a
                short text to prepare students for the activities within the
                topic or week. The text is shown on the course page under the
                topic name.
              </small>
            </div>
            
            <label class="form-label my-2 fw-bold">Feature Image</label>
            <div class="d-flex border rounded">
              <div class="p-3">
                <div class="thumbnail-preview" id="thumbnailPreview">
                  <img id="lesson-feature-image-preview" class="img-fluid" src="{% static 'images/thumbnail-placeholder.svg' %}" alt="thumbnail" />
                </div>
              </div>
              <div class="p-3 d-flex align-items-center" style="width: 100%">
                <span>
                  <b id="imageDimensions">Allowed Size: 700x430 pixels</b>
                  <p>File Support:</p>
                  <select class="d-none" id="lesson-feature_image"></select>
                  <button type="button" class="btn btn-primary"  id="lesson-feature_image-btn">
                    Upload Image
                  </button>
                </span>
              </div>
            </div>

            <div class="my-4">
              <div class="card border-0">
                <div class="card-body border border-warning rounded">
                  <i class="far fa-exclamation-circle text-warning fa-lg"></i>&nbsp;&nbsp;No video source selected from
                  settings!
                </div>
              </div>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label my-2 fw-bold">Upload exercise files to the Lesson</label>
              <br>
              
              {% comment %} 
              <div class="card my-3" style="max-width: 350px">
                <div class="card-body">
                  <div class="d-flex flex-column">
                    <b style="font-weight: 500">File name</b>
                    <span style="color: #9e9e9e"> File size </span>
                  </div>
                </div>
              </div>
              <div class="card my-3" style="max-width: 350px">
                <div class="card-body">
                  <div class="d-flex flex-column">
                    <b style="font-weight: 500">File name</b>
                    <span style="color: #9e9e9e"> File size </span>
                  </div>
                </div>
              </div>
              <div class="card my-3" style="max-width: 350px">
                <div class="card-body">
                  <div class="d-flex flex-column">
                    <b style="font-weight: 500">File name</b>
                    <span style="color: #9e9e9e"> File size </span>
                  </div>
                </div>
              </div> 
              {% endcomment %}

              <div class="row mb-3" id="lessonAttachmentsPreviewContainer"></div>
              
              <select class="d-none" id="lesson-attachments" name="attachments" multiple>
              </select>
              <button class="btn btn-outline-primary p-3" id="lesson-attachments-btn" type="button">
                <i class="far fa-paperclip"></i>&nbsp;&nbsp;<span>Upload Attachments</span>
              </button>
            </div>

            <div class="d-flex align-items-center gap-3 mb-4">
              <input type="checkbox" id="lesson-enable_preview" name="enable_preview" class="form-check-input"
                style="padding: 10px" />
              <label for="enable_preview">Enable Course Preview:</label>
            </div>
            <small class="text-muted">
              <i class="fal fa-info-circle"></i> If checked, any users/guest
              can view this lesson without enroll course
            </small>
          </div>
          <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Add Assignment -->
  <div class="modal fade" id="assignmentModal" tabindex="-1" aria-labelledby="assignmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="assignmentModalLabel">
            Assignment
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="assignment-form">
          {% csrf_token %}
          <div class="modal-body px-4">
            <div class="form-outline mb-3">
              <label class="form-label my-2 fw-bold">Assignment Name</label>
              <input type="text" id="assignment-title" name="title" class="form-control p-3 mb-2" value="test title" required />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label my-2 fw-bold">Summary</label>
              <textarea id="assignment-summary-editor">
              </textarea>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label my-2 fw-bold">Attachments</label>
              <br>

              {% comment %} <div class="card my-3" style="max-width: 350px">
                <div class="card-body">
                  <div class="d-flex flex-column">
                    <b style="font-weight: 500">File name</b>
                    <span style="color: #9e9e9e"> File size </span>
                  </div>
                </div>
              </div>
              <div class="card my-3" style="max-width: 350px">
                <div class="card-body">
                  <div class="d-flex flex-column">
                    <b style="font-weight: 500">File name</b>
                    <span style="color: #9e9e9e"> File size </span>
                  </div>
                </div>
              </div>
              <div class="card my-3" style="max-width: 350px">
                <div class="card-body">
                  <div class="d-flex flex-column">
                    <b style="font-weight: 500">File name</b>
                    <span style="color: #9e9e9e"> File size </span>
                  </div>
                </div>
              </div> {% endcomment %}

              <div class="row mb-3" id="assignmentAttachmentsPreviewContainer"></div>

              <select class="d-none" id="assignment-attachments" name="attachments" multiple></select>
              <button class="btn btn-outline-primary p-3" type="button" id="assignment-attachments-btn">
                <i class="far fa-paperclip"></i>&nbsp;&nbsp;<span>Upload Attachments</span>
              </button>
            </div>

            <div class="py-2" style="max-width: 350px">
              <div class="form-outline mb-3">
                <label class="form-label my-2 fw-bold">Time Limit</label>
                <input type="number" id="assignment-time_limit" name="time_limit" class="form-control p-3 mb-2"
                  placeholder="Time Limit" value="0" min="0" />

                <select
                  class="course-difficulty-single form-select p-3 mb-2"
                  id="assignment-time_limit_unit"
                >
                  <option value="W" selected>Weeks</option>
                  <option value="D">Days</option>
                  <option value="H">Hours</option>
                </select>
              </div>
            </div>

            <div class="py-2" style="max-width: 350px">
              <div class="form-outline mb-3">
                <label class="form-label my-2 fw-bold">Total Points</label>
                <input type="number" id="assignment-total_points" name="time_limit" class="form-control p-3 mb-2"
                  placeholder="Time Limit" value="10" min="0" />
                <small class="text-muted">
                  <i class="fal fa-info-circle"></i> Maximum points a student
                  can score
                </small>
              </div>
            </div>

            <div class="py-2" style="max-width: 350px">
              <div class="form-outline mb-3">
                <label class="form-label my-2 fw-bold">Minimum Passing Points</label>
                <input type="number" id="assignment-min_pass_points" name="time_limit" class="form-control p-3 mb-2"
                  placeholder="Time Limit" value="5" min="0" />
                <small class="text-muted">
                  <i class="fal fa-info-circle"></i> Minimum points required
                  for the student to pass this assignment.
                </small>
              </div>
            </div>

            <div class="py-2" style="max-width: 350px">
              <div class="form-outline mb-3">
                <label class="form-label my-2 fw-bold">Maximum File Uploads</label>
                <input type="number" id="assignment-max_file_uploads" name="time_limit" class="form-control p-3 mb-2"
                  placeholder="Time Limit" value="1" min="0" />
                <small class="text-muted">
                  <i class="fal fa-info-circle"></i> Define the number of
                  files that a student can upload in this assignment. Input 0
                  to disable the option to upload.
                </small>
              </div>
            </div>

            <div class="py-2" style="max-width: 350px">
              <div class="form-outline mb-3">
                <label class="form-label my-2 fw-bold">File Size Limit</label>
                <input type="number" id="assignment-file_size_limit" name="time_limit" class="form-control p-3 mb-2"
                  placeholder="Time Limit" value="2" min="0" />
                <small class="text-muted">
                  <i class="fal fa-info-circle"></i> Define maximum file size
                  attachment in MB
                </small>
              </div>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="{% static 'js/script.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script>
    $("#search-instructor-js").keyup(function (event) {
      if (event.key === "Enter") {
        $.ajax({
          type: "GET",
          url: "{% url 'users:search_instructors' course.pk %}",
          data: {
            'q': $("#search-instructor-js").val()
          },
          success: function (data) {
            $("#instructor-list-js").empty();
            console.log(data)
            for (const i of data.data) {
              console.log("instructor", i)
              $("#instructor-list-js").append(`
                <div 
                  class="card mb-3 instructor-item-js" 
                  style="max-width: 350px" 
                  data-user-id="${i.id}"
                  data-user-first-name="${i.first_name}"
                  data-user-last-name="${i.last_name}"
                  data-user-email="${i.email}" 
                >
                  <div class="card-body">
                    <div class="d-flex align-items-center gap-3 gap-lg-4">
                      <img
                        style="width: 48px; border-radius: 100%"
                        src="https://www.gravatar.com/avatar/cd935c35ae34731f14609bc53055aec6?s=150&r=g&d=mm"
                        alt="user photo"
                      />
                      <div class="d-flex flex-column">
                        <b>${i.first_name} ${i.last_name} </b>
                        <b style="color: #9e9e9e"> ${i.email} </b>
                      </div>
                    </div>
                  </div>
                </div>
                `);
            }
            $(".instructor-item-js").click(function () {
              // Select the select element by its ID
              var selectElement = $('#instructors-js');

              // Create a new option element and set the selected attribute
              var newOption = $('<option>', {
                value: $(this).attr("data-user-id"),
                text: "",
                selected: true // Set the selected attribute to keep it selected
              });

              // Append the new option element to the select element
              selectElement.append(newOption);

              $("#display-instructors-list-js").append(`
                <div class="col-lg-6">
                  <div class="card mb-4">
                      <div class="card-body">
                          <div class="d-flex align-items-center gap-3 gap-lg-4">
                              <img style="width: 48px; border-radius: 100%;"
                                  src="https://www.gravatar.com/avatar/cd935c35ae34731f14609bc53055aec6?s=150&r=g&d=mm"
                                  alt="user photo">
                              <div class="d-flex flex-column">
                                  <b class="greet-text">${$(this).attr("data-user-first-name")} ${$(this).attr("data-user-last-name")}
                                  </b>
                                  <b style="color: #9e9e9e;">
                                      ${$(this).attr("data-user-email")}
                                  </b>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
                `);

              $("#instructor-list-js").empty();
              $("#search-instructor-js").val("");
              $('#instructorModal').modal('hide');
            });
          },
          error: function (xhr, status, error) {
            console.error(error);
          }
        });

      }
    });

    $("#courseForm").on("submit", function (event) {
      const hourInput = $("#hour-js");
      const minuteInput = $("#minute-js");
      const durationInput = $("#duration-js");

      const hour = parseInt(hourInput.val() || 0);
      const minute = parseInt(minuteInput.val() || 0);

      const formattedTime = `${hour.toString().padStart(2, '0')}:${minute.toString().padStart(2, '0')}:00`;
      console.log(formattedTime);

      durationInput.val(formattedTime);
    });


    $(".section").click(function () {
      $(this).children(".fas").toggleClass("fa-chevron-up fa-chevron-down");
    });

    const lessonModal = document.getElementById("lessonModal");
    ClassicEditor.create(document.querySelector("#lesson-content-editor")).then(editor => {
      console.log("CKEditor initialized");
      createLessonContentEditor = editor;
    })
    .catch(error => {
        console.error(error);
    });;

      lessonTopicId = "";
      lessonModal.addEventListener("show.bs.modal", (event) => {
        const button = event.relatedTarget;
        const selectedTopicId = button.getAttribute("data-topic-id");
        lessonTopicId = selectedTopicId;
      });

      $("#lesson-form").submit(function () {
        event.preventDefault();
        let url = `/courses/create-lesson/${lessonTopicId}/`;
        let data = {
          'title': $("#lesson-title").val(),
          'content': createLessonContentEditor.getData(),
          'feature_image': parseInt($("#lesson-feature_image").val()) || null,
          'attachments': $("#lesson-attachments").val().map(val => parseInt(val)),
          'enable_preview': $("#lesson-enable_preview").prop('checked'),
        };

        $.ajax({
          type: "POST",
          url: url,
          headers : { "X-CSRFToken": "{{ csrf_token }}" },
          data: JSON.stringify(data),

          success: function (data) {
            console.log(data);
            $("#lessonModal").modal("hide");
            $("#lesson-title").val("");
            createLessonContentEditor.setData("");
            $("#lesson-feature_image").val("");
            $("#lesson-attachments").val("");
            $("#lesson-enable_preview").prop('checked', false);
            $("#lesson-feature-image-preview").attr("src", "{% static 'images/thumbnail-placeholder.svg' %}");
            $("#lessonAttachmentsPreviewContainer").empty();


            // Get topic items
            $.ajax({
              type: "GET",
              url: `/courses/list-topic-item/${lessonTopicId}/`,
              headers: {
                "X-CSRFToken": "{{ csrf_token }}",
              },
              success: function (response) {
                const topicItems = response.data;
                const topicItemsContainer = $(`.topicItems-${lessonTopicId}`);
                topicItemsContainer.empty();

                topicItems.forEach(function (item, index) {

                  topicItemList = "";
                  if (item.lesson != null) {
                    topicItemList = `
                    <div class="card bg-white text-start mb-3">
                      <div class="card-body p-0">
                        <div class="section p-2 d-flex align-items-center justify-content-between"
                        style="cursor: pointer;">
                            <span class="fs-6"><i class="fal fa-bars"></i>&nbsp;&nbsp;Lesson: ${item.lesson_data.title}</span>
                            <span class="d-flex gap-2 px-2">
                              <button type="button" class="btn btn-sm editTopicButton" data-bs-toggle="modal" data-bs-target="#updateTopicModal"><i class="fas fa-edit text-muted"></i></button>
                              <button type="button" class="btn btn-sm"><i class="fas fa-trash-alt text-muted"></i></button>
                            </span>
                        </div>
                      </div>
                    </div>
                    `;
                  }
                  else if (item.assignment) {
                    topicItemList = `
                    <div class="card bg-white text-start mb-3">
                      <div class="card-body p-0">
                        <div class="section p-2 d-flex align-items-center justify-content-between"
                        style="cursor: pointer;">
                            <span class="fs-6"><i class="fal fa-bars"></i>&nbsp;&nbsp;Assignment: ${item.assignment_data.title}</span>
                            <span class="d-flex gap-2 px-2">
                              <button type="button" class="btn btn-sm editTopicButton" data-bs-toggle="modal" data-bs-target="#updateTopicModal"><i class="fas fa-edit text-muted"></i></button>
                              <button type="button" class="btn btn-sm"><i class="fas fa-trash-alt text-muted"></i></button>
                            </span>
                        </div>
                      </div>
                    </div>
                    `;
                  }


                  topicItemsContainer.append(topicItemList);
                });
              },
              error: function (xhr, status, error) {
                console.log(xhr);
                console.log(status);
                console.log(error);
                alert("Error: " + xhr.responseJSON.error);
                // Handle the error and update the UI accordingly
              },
            });





          },
          error: function (xhr, status, error) {
            console.error(error);
          }
        });

      });
    

    const assignmentModal = document.getElementById("assignmentModal");
    ClassicEditor.create(document.querySelector("#assignment-summary-editor")).then(editor => {
      console.log("CKEditor initialized");
      createAssignmentSummaryEditor = editor;
    })
    .catch(error => {
        console.error(error);
    });

    assignmentTopicId = "";
    assignmentModal.addEventListener("show.bs.modal", (event) => {
      const button = event.relatedTarget;
      const selectedTopicId = button.getAttribute("data-topic-id");
      assignmentTopicId = selectedTopicId;
    });


    $("#assignment-form").submit(function () {
      event.preventDefault();
      let url = `/courses/create-assignment/${assignmentTopicId}/`;
      let data = {
        'title': $("#assignment-title").val(),
        'summary': createAssignmentSummaryEditor.getData(),
        'attachments': $("#assignment-attachments").val().map(val => parseInt(val)),
        'time_limit_unit': $("#assignment-time_limit_unit").val() ,
        'total_points': parseInt($("#assignment-total_points").val()),
        'min_pass_points': parseInt($("#assignment-min_pass_points").val()),
        'max_file_uploads': parseInt($("#assignment-max_file_uploads").val()),
        'file_size_limit': parseInt($("#assignment-file_size_limit").val()),
      };
      let time_limit = parseInt($("#assignment-time_limit").val())
      if (data["time_limit_unit"] == "D") {
        time_limit = time_limit * 24;
      }
      else if (data["time_limit_unit"] == "W") {
        time_limit = time_limit * 24 * 7;
      }
      data["time_limit"] = `${time_limit}:00:00`;
      
      $.ajax({
        type: "POST",
        url: url,
        headers : { "X-CSRFToken": "{{ csrf_token }}" },
        data: JSON.stringify(data),

        success: function (data) {
          console.log(data);
          $("#assignmentModal").modal("hide");
          $("#assignment-title").val("");
          createAssignmentSummaryEditor.setData("");
          $("#assignment-attachments").val("");
          $("#assignment-time_limit").val("0");
          $("#assignment-time_limit_unit").val("W");
          $("#assignment-total_points").val("10");
          $("#assignment-min_pass_points").val("5");
          $("#assignment-max_file_uploads").val("1");
          $("#assignment-file_size_limit").val("2");



          // Get topic items
          $.ajax({
            type: "GET",
            url: `/courses/list-topic-item/${assignmentTopicId}/`,
            headers: {
              "X-CSRFToken": "{{ csrf_token }}",
            },
            success: function (response) {
              const topicItems = response.data;
              const topicItemsContainer = $(`.topicItems-${assignmentTopicId}`);
              topicItemsContainer.empty();

              topicItems.forEach(function (item, index) {

                topicItemList = "";
                if (item.lesson != null) {
                  topicItemList = `
                  <div class="card bg-white text-start mb-3">
                    <div class="card-body p-0">
                      <div class="section p-2 d-flex align-items-center justify-content-between"
                      style="cursor: pointer;">
                          <span class="fs-6"><i class="fal fa-bars"></i>&nbsp;&nbsp;Lesson: ${item.lesson_data.title}</span>
                          <span class="d-flex gap-2 px-2">
                            <button type="button" class="btn btn-sm editTopicButton" data-bs-toggle="modal" data-bs-target="#updateTopicModal"><i class="fas fa-edit text-muted"></i></button>
                            <button type="button" class="btn btn-sm"><i class="fas fa-trash-alt text-muted"></i></button>
                          </span>
                      </div>
                    </div>
                  </div>
                  `;
                }
                else if (item.assignment) {
                  topicItemList = `
                  <div class="card bg-white text-start mb-3">
                    <div class="card-body p-0">
                      <div class="section p-2 d-flex align-items-center justify-content-between"
                      style="cursor: pointer;">
                          <span class="fs-6"><i class="fal fa-bars"></i>&nbsp;&nbsp;Assignment: ${item.assignment_data.title}</span>
                          <span class="d-flex gap-2 px-2">
                            <button type="button" class="btn btn-sm editTopicButton" data-bs-toggle="modal" data-bs-target="#updateTopicModal"><i class="fas fa-edit text-muted"></i></button>
                            <button type="button" class="btn btn-sm"><i class="fas fa-trash-alt text-muted"></i></button>
                          </span>
                      </div>
                    </div>
                  </div>
                  `;
                }
                

                topicItemsContainer.append(topicItemList);
              });
            },
            error: function (xhr, status, error) {
              console.log(xhr);
              console.log(status);
              console.log(error);
              alert("Error: " + xhr.responseJSON.error);
              // Handle the error and update the UI accordingly
            },
          });





        },
        error: function (xhr, status, error) {
          console.error(error);
        }
      });

    });

    $("#lesson-feature_image-btn").click(function () {
      $("#mediaModal").data("target", "lesson_feature_image");
      $('#mediaModal').modal('show');
    });
    
    $("#lesson-attachments-btn").click(function () {
      $("#mediaModal").data("target", "lesson_attachments");
      $('#mediaModal').modal('show');
    });

    $("#assignment-attachments-btn").click(function () {
      $("#mediaModal").data("target", "assignment_attachments");
      $('#mediaModal').modal('show');
    });

    function remove_lesson_attachment(btn) {
      console.log(btn)
      const mediaId = $(btn).data("media-id");
      console.log("removing", mediaId)
      const option = $("#lesson-attachments option[value='" + mediaId + "']").first();
      option.remove();
      // Find the closest parent card and remove it
      $(btn).closest(".col-md-4").remove();
  };

  function remove_assignment_attachment(btn) {
    console.log(btn)
    const mediaId = $(btn).data("media-id");
    console.log("removing", mediaId)
    const option = $("#assignment-attachments option[value='" + mediaId + "']").first();
    option.remove();
    // Find the closest parent card and remove it
    $(btn).closest(".col-md-4").remove();
};

    
  </script>
</body>

</html>