{% extends "dashboard/base.html" %}

{% load static %}
{% block content %}
<div>
    <!--Page Title-->
    <div class="container-fluid title-content">
        <div class="py-3">
            <div class="container mt-4">
                <h3 class="fw-normal mb-3" style="letter-spacing: 1px;">My Profile</h3>
                <div class="d-flex gap-4 border-bottom mt-3">
                    <a href="#" class="flex-1 text-primary border-bottom border-2 px-4 py-2"
                        style="border-color: #0071dc !important;">
                        Publish (0)
                    </a>
                    <a href="#" class="flex-1 px-4 py-2">
                        Pending (0)
                    </a>
                    <a href="#" class="flex-1 px-4 py-2">
                        Draft (0)
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container my-3">
        <div class="card mb-4" style="max-width: 950px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 bg-dange">
                        <div class="rounded"
                            style="width: 100%; height: 200px; background: url({% static 'images/thumbnail-placeholder.svg' %}); background-position: center; background-size: cover;">
                        </div>
                    </div>
                    <div class="col-md-8 bg-succes">
                        <div class="py-3 d-flex align-content-center justify-content-center flex-wrap" style="width: 100%;">
                            <div style="width: 100%; height: 135px;">
                                <div class="d-flex flex-column">
                                    <span class="greet-text">
                                        <i class="fal fa-star fa-sm" style="color: #ffa600; font-size: 14px;"></i>
                                        <i class="fal fa-star fa-sm" style="color: #ffa600; font-size: 14px;"></i>
                                        <i class="fal fa-star fa-sm" style="color: #ffa600; font-size: 14px;"></i>
                                        <i class="fal fa-star fa-sm" style="color: #ffa600; font-size: 14px;"></i>
                                        <i class="fal fa-star fa-sm" style="color: #ffa600; font-size: 14px;"></i>
                                        <small class="text-muted" style="font-size: 15px;">(2/5)</small>
                                    </span>
                                </div>
                                <div class="my-1">
                                    <b>New Course</b>
                                </div>
                                <small>
                                    <span class="text-muted">Students:</span> <b>0</b>
                                </small>
                            </div>
                            <div class="d-flex align-items-center justify-content-between" style="width: 100%;">
                                <div>
                                    <b class="fs-5">₹0</b><b>.00</b>
                                </div>
                                <div class="flex-1 d-flex align-items-center gap-3">
                                    <button class="btn btn-light border text-muted">
                                        <small>
                                            <i class="fal fa-pencil-alt text-primary"></i>&nbsp;&nbsp;Edit
                                        </small>
                                    </button>
                                    <div class="dropdown">
                                        <button class="btn btn-outline-primary border rounded-circle dropdown-toggl"
                                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fal fa-ellipsis-h"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            <li>
                                                <a class="dropdown-item p-3" href="#">
                                                    <i class="fal fa-share">&nbsp;&nbsp;</i> Share
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item p-3" href="#">
                                                    <i class="fal fa-copy">&nbsp;&nbsp;</i> Duplicate
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item p-3" href="#">
                                                    <i class="fal fa-trash">&nbsp;&nbsp;</i> Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4" style="max-width: 950px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 bg-dange">
                        <div class="rounded"
                            style="width: 100%; height: 200px; background: url({% static 'images/thumbnail-placeholder.svg' %}); background-position: center; background-size: cover;">
                        </div>
                    </div>
                    <div class="col-md-8 bg-succes">
                        <div class="py-3 d-flex align-content-center justify-content-center flex-wrap" style="width: 100%;">
                            <div style="width: 100%; height: 135px;">
                                <div class="d-flex flex-column">
                                    <span class="greet-text">
                                        <i class="fal fa-star fa-sm" style="color: #ffa600; font-size: 14px;"></i>
                                        <i class="fal fa-star fa-sm" style="color: #ffa600; font-size: 14px;"></i>
                                        <i class="fal fa-star fa-sm" style="color: #ffa600; font-size: 14px;"></i>
                                        <i class="fal fa-star fa-sm" style="color: #ffa600; font-size: 14px;"></i>
                                        <i class="fal fa-star fa-sm" style="color: #ffa600; font-size: 14px;"></i>
                                        <small class="text-muted" style="font-size: 15px;">(2/5)</small>
                                    </span>
                                </div>
                                <div class="my-1">
                                    <b>New Course</b>
                                </div>
                                <small>
                                    <span class="text-muted">Students:</span> <b>0</b>
                                </small>
                            </div>
                            <div class="d-flex align-items-center justify-content-between" style="width: 100%;">
                                <div>
                                    <b class="fs-5">₹0</b><b>.00</b>
                                </div>
                                <div class="flex-1 d-flex align-items-center gap-3">
                                    <button class="btn btn-light border text-muted">
                                        <small>
                                            <i class="fal fa-pencil-alt text-primary"></i>&nbsp;&nbsp;Edit
                                        </small>
                                    </button>
                                    <div class="dropdown">
                                        <button class="btn btn-outline-primary border rounded-circle dropdown-toggl"
                                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fal fa-ellipsis-h"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            <li>
                                                <a class="dropdown-item p-3" href="#">
                                                    <i class="fal fa-share">&nbsp;&nbsp;</i> Share
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item p-3" href="#">
                                                    <i class="fal fa-copy">&nbsp;&nbsp;</i> Duplicate
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item p-3" href="#">
                                                    <i class="fal fa-trash">&nbsp;&nbsp;</i> Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4" style="max-width: 950px;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 bg-dange">
                        <div class="rounded"
                            style="width: 100%; height: 200px; background: url({% static 'images/thumbnail-placeholder.svg' %}); background-position: center; background-size: cover;">
                        </div>
                    </div>
                    <div class="col-md-8 bg-succes">
                        <div class="py-3 d-flex align-content-center justify-content-center flex-wrap" style="width: 100%;">
                            <div style="width: 100%; height: 135px;">
                                <div class="d-flex flex-column">
                                    <span class="greet-text">
                                        <i class="fal fa-star fa-sm" style="color: #ffa600; font-size: 14px;"></i>
                                        <i class="fal fa-star fa-sm" style="color: #ffa600; font-size: 14px;"></i>
                                        <i class="fal fa-star fa-sm" style="color: #ffa600; font-size: 14px;"></i>
                                        <i class="fal fa-star fa-sm" style="color: #ffa600; font-size: 14px;"></i>
                                        <i class="fal fa-star fa-sm" style="color: #ffa600; font-size: 14px;"></i>
                                        <small class="text-muted" style="font-size: 15px;">(2/5)</small>
                                    </span>
                                </div>
                                <div class="my-1">
                                    <b>New Course</b>
                                </div>
                                <small>
                                    <span class="text-muted">Students:</span> <b>0</b>
                                </small>
                            </div>
                            <div class="d-flex align-items-center justify-content-between" style="width: 100%;">
                                <div>
                                    <b class="fs-5">₹0</b><b>.00</b>
                                </div>
                                <div class="flex-1 d-flex align-items-center gap-3">
                                    <button class="btn btn-light border text-muted">
                                        <small>
                                            <i class="fal fa-pencil-alt text-primary"></i>&nbsp;&nbsp;Edit
                                        </small>
                                    </button>
                                    <div class="dropdown">
                                        <button class="btn btn-outline-primary border rounded-circle dropdown-toggl"
                                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fal fa-ellipsis-h"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            <li>
                                                <a class="dropdown-item p-3" href="#">
                                                    <i class="fal fa-share">&nbsp;&nbsp;</i> Share
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item p-3" href="#">
                                                    <i class="fal fa-copy">&nbsp;&nbsp;</i> Duplicate
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item p-3" href="#">
                                                    <i class="fal fa-trash">&nbsp;&nbsp;</i> Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}