{% extends "dashboard/base.html" %}


{% block content %}
<div>
    <!-- Page Content -->
    <div class="container">
        <div class="card mt-5">
            <div class="card-body">
                <h4>Withdrawal</h4>
                Current Balance is ₹0.00 <br>
                You have ₹0.00 and this is insufficient balance to withdraw. <br>

                You can change your withdrawal preference <br>

            </div>
        </div>
        <div class="card mt-5">
            <div class="card-body">
                <h4>Withdrawal History</h4>
                No withdrawals yet <br>

            </div>
        </div>
    </div>
</div>
{% endblock content %}