{% load static %}
<footer class="container-fluid p-lg-5 footer" style="background: #f9f9fb">
  <div class="row container mx-auto">
    <div class="col-lg-5 my-5 my-lg-0">
      <div class="d-flex flex-column align-items-center">
        <div>
          <a href="/">
            <img src="{% static 'images/logo.png' %}"
            class="attachment-full size-full wp-image-6642" alt="" style="max-width: 200px; height: auto; margin: 20px" />
          </a>
        </div>
        <div class="mb-3">
          <div class="d-flex gap-4" style="font-size: 20px; color: #96a1b1">
            <div>
              <a href="https://twitter.com/skilledmba"><b>𝕏</b> </a>
            </div>
            <div>
              <a href="https://www.facebook.com/profile.php?id=100091976817772"><i class="fab fa-facebook"></i></a>
            </div>
            <div>
              <a href="https://www.youtube.com/channel/UCGqr85LlNy-Mq4ZGUYcMkOQ"><i class="fab fa-youtube"></i></a>
            </div>
            <div>
              <a href="https://www.linkedin.com/company/93225539/admin/"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="mb-3 text-muted" style="font-size: 14px">
          &copy; 2023 SKILLEDMBA. All rights reserved.
        </div>
        <div class="mb-3">
          <a href="#">Terms of Use</a>
          &nbsp;-&nbsp;
          <a href="#">Privacy Policy</a>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="col-lg-4 col-md-6" style="margin: 0px 0px 35px 0px">
          <h6 style="font-size: 16px; font-weight: 700; line-height: 30px">
            About
          </h6>
          <ul style="
                list-style-type: none;
                padding: 0px;
                margin: 0px;
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 0;
                color: #999999 !important;
              ">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Instructor</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Become A Teacher</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6" style="margin: 0px 0px 35px 0px">
          <h6 style="font-size: 16px; font-weight: 700; line-height: 30px">
            Links
          </h6>
          <ul style="
                list-style-type: none;
                padding: 0px;
                margin: 0px;
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 0;
                color: #b6c2c6;
              ">
            <li><a href="#">News & Blogs</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Examination</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6" style="margin: 0px 0px 35px 0px">
          <h6 style="font-size: 16px; font-weight: 700; line-height: 30px">
            Support
          </h6>
          <ul style="
                list-style-type: none;
                padding: 0px;
                margin: 0px;
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 0;
                color: #b6c2c6;
              ">
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Membership</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>