{% if not user.is_authenticated %}
<div class="position-fixed bottom-0 login-cta p-4" style="right: 0px; z-index: 1;">
    <div class="card border-0 shadow-sm pb-5" style="height: 100%; width: 470px; max-width: 100%;">
        <!--TODO: Responsive done -->
        <div class="card-body d-flex flex-column align-items-center gap-3">
            <div class="py-4">
                <h4>Login & try Skilledmba</h4>
                without sign up any accounts
            </div>
            <div style="width: 80%;">
                <div class="d-grid gap-2">
                    <a href="{% url 'account_signup' %}" class="btn btn-primary py-3" type="button"
                        style="background: #0071dc;">
                        <b>Login as Student</b>
                    </a>
                </div>
            </div>
            <div style="width: 80%;">
                <div class="d-grid gap-2">
                    <a href="{% url 'users:instructor_signup' %}" class="btn py-3" type="button"
                        style="background: #ffc221;">
                        <b>Login as Instructor</b>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="close-login-cta"
        class="position-absolute translate-middle rounded-circle border p-3 d-flex justify-content-center align-items-center shadow"
        style="top: 25px; right: -5px; background: #fff; width: 10px; height: 10px; cursor: pointer;">
        <i class="far fa-times"></i>
    </div>
</div>
{% endif %}