{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock title %}



{% block content %}

<!--page title-->
<div class="container-fluid title-content">
    <div class="py-3" style="font-size: 14px;">
        <div class="container mt-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#" class="hover-underline-animation">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#" class="hover-underline-animation">Courses</a>
                    </li>
                    <li class="breadcrumb-item">Art & Design</li>
                </ol>
            </nav>
            <h1 class="fw-500 mb-3 text-primary" style="letter-spacing: 1px;">Art & Design Courses</h1>
        </div>
    </div>
</div>

<!--main content-->

{% endblock content %}