{% extends "base.html" %}
{% load static %}
{% block title %}Skilled MBA{% endblock title %}

{% block content %}
<!--page title-->
<div class="container-fluid title-content">
    <div class="py-4" style="font-size: 14px;">
        <div class="container mt-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#" class="hover-underline-animation">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#" class="hover-underline-animation">Courses</a>
                    </li>
                    <li class="breadcrumb-item">Art & Design</li>
                </ol>
            </nav>
            <div class="p-lg-5">
                <div class="text-primary fw-bold mb-3">
                    Design Tools
                </div>
                <h2>
                    Adobe Illustrator CC – Essentials Training Course
                </h2>
                <div class="d-flex gap-3 align-items-center justify-content-start flex-wrap py-3">
                    <div class="d-flex gap-3 align-items-center justify-content-start">
                        <img src="https://placehold.co/35x35" alt="testi" style="width: 35px;"
                            class="img-fluid rounded-circle">
                        <b>Sarah</b>
                    </div>
                    <div class="d-flex gap-3 align-items-center justify-content-start">
                        <img src="https://placehold.co/35x35" alt="testi" style="width: 35px;"
                            class="img-fluid rounded-circle">
                        <b>Sarah</b>
                    </div>
                    <div class="d-flex gap-3 align-items-center justify-content-start">
                        <img src="https://placehold.co/35x35" alt="testi" style="width: 35px;"
                            class="img-fluid rounded-circle">
                        <b>Sarah</b>
                    </div>
                    <div class="d-flex gap-3 align-items-center justify-content-start">
                        Last Update November 25, 2020
                    </div>
                </div>
                <div class="d-flex gap-3 align-items-center justify-content-start">
                    <span class="greet-text">
                        <i class="fas fa-star fa-sm" style="color: #ffa600; font-size: 14px;"></i>
                        <i class="fas fa-star fa-sm" style="color: #ffa600; font-size: 14px;"></i>
                        <i class="fas fa-star fa-sm" style="color: #c2c2c2; font-size: 14px;"></i>
                        <i class="fas fa-star fa-sm" style="color: #c2c2c2; font-size: 14px;"></i>
                        <i class="fas fa-star fa-sm" style="color: #c2c2c2; font-size: 14px;"></i>
                        <small>2 <span class="text-secondary">(1 ratings)</span></small>
                    </span>
                    <div>
                        63 already enrolled
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--main content-->
<div class="container-fluid bg-white">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-8 pt-3 p-lg-5">
                <h5>About This Course</h5>
                <div class="text-muted py-3" style="font-size: 15px;">
                    <p>
                        Are you frustrated trying to teach yourself Adobe Illustrator?! This course will quickly allow
                        you to
                        start getting paid for your Illustrator skills.
                    </p>
                    <p>
                        Whether you’re brand new to Illustrator, or have played around with it but need more guidance,
                        this
                        course will help you feel confident and comfortable using the industry-standard vector-based
                        graphic
                        application.
                        This course was designed for the complete beginner, with practice files and fun projects to get
                        you
                        taking action. Throughout this Illustrator CC course, you’ll be designing your own real-world
                        projects that are professional and inspire you to do even more!
                    </p>
                </div>
                <div>
                    <b class="fw-bold text-muted">Adobe, Design, Graphic, Illustrator</b>
                </div>
                <div style="height: 1000px;"></div>
            </div>
            <div class="col-lg-4 pt-3">
                <div class="position-relative bg-white" style="top: -200px !important;">
                    <div class="card text-start bg-white">
                        <div>
                            <img class="img-fluid rounded-top" style="width: 100%;"
                                src="{% static 'images/thumbnail-placeholder.svg' %}" alt="thumbnail">
                        </div>
                        <div class="card-body tips p-4">
                            <h1 class="text-muted mb-4">
                                <b>Free</b>
                            </h1>
                            <div style="font-size: 14px;">
                                <div class="d-flex align-items-center justify-content-between border-bottom pb-3 mt-4">
                                    <div>
                                        <i class="far fa-sliders-h text-muted"></i>&nbsp;
                                        <b>Level</b>
                                    </div>
                                    <div>Beginner</div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between border-bottom pb-3 mt-3">
                                    <div>
                                        <i class="far fa-clock text-muted"></i>&nbsp;
                                        <b>Duration</b>
                                    </div>
                                    <div>8.5 hours</div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between border-bottom pb-3 mt-3">
                                    <div>
                                        <i class="far fa-play-circle text-muted"></i>&nbsp;
                                        <b>Lectures</b>
                                    </div>
                                    <div>1 lecture</div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between border-bottom pb-3 mt-3">
                                    <div>
                                        <i class="far fa-tag text-muted"></i>&nbsp;
                                        <b>Subject</b>
                                    </div>
                                    <div>Design Tools</div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between pb-3 mt-3">
                                    <div>
                                        <i class="far fa-globe text-muted"></i>&nbsp;
                                        <b>Langauge</b>
                                    </div>
                                    <div>English</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% if not user.is_authenticated %}
<div class="position-fixed bottom-0 login-cta p-4" style="right: 0px;">
    <div class="card border-0 shadow-sm pb-5" style="height: 100%; min-width: 470px"> <!--TODO: Responsive -->
        <div class="card-body d-flex flex-column align-items-center gap-3">
            <div class="py-4">
                <h4>Login & try Skilledmba</h4>
                without sign up any accounts
            </div>
            <div style="width: 80%;">
                <div class="d-grid gap-2">
                    <a href="{% url 'account_signup' %}" class="btn btn-primary py-3" type="button"
                        style="background: #0071dc;">
                        <b>Login as Student</b>
                    </a>
                </div>
            </div>
            <div style="width: 80%;">
                <div class="d-grid gap-2">
                    <a href="{% url 'users:instructor_signup' %}" class="btn py-3" type="button"
                        style="background: #ffc221;">
                        <b>Login as Instructor</b>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="close-login-cta"
        class="position-absolute translate-middle rounded-circle border p-3 d-flex justify-content-center align-items-center shadow"
        style="top: 25px; right: -5px; background: #fff; width: 10px; height: 10px; cursor: pointer;">
        <i class="far fa-times"></i>
    </div>
</div>
{% endif %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var animateElements = document.querySelectorAll(".animate-me");

        function checkAnimation() {
            animateElements.forEach(function (element) {
                var elementPosition = element.getBoundingClientRect().top;
                var windowHeight = window.innerHeight;

                if (elementPosition < windowHeight - 100) { // Adjust threshold as needed
                    element.classList.add("animate");
                }
            });
        }

        window.addEventListener("scroll", checkAnimation);
        checkAnimation(); // Check on page load
    });

    $(document).ready(function () {
        $("#close-login-cta").click(function () {
            $(".login-cta").hide();
        });
    });

</script>

{% endblock content %}