<!-- Header -->
<header class="shadow-sm position-sticky top-0" style="z-index: 998;">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-3 gap-lg-4">
            <a href="#menu-toggle" class="btn btn-light menu-toggle">
                <i class="fas fa-bars"></i>
            </a>
            <img class="user-photo"
                src="https://www.gravatar.com/avatar/cd935c35ae34731f14609bc53055aec6?s=150&r=g&d=mm"
                alt="user photo">
            <b class="greet-text"><span style="color: #9b9b9b;" class="d-none d-lg-inline">Howdy,</span> Om
                Dahale</b>
        </div>
        <div class="d-flex align-items-center gap-3 gap-lg-4">
            <button class="btn bg-white border px-lg-4 px-3 py-2" style="color: #0071dc;">
                <i class="far fa-user-tie"></i>
                <span class="d-none d-lg-inline">&nbsp;&nbsp;&nbsp;Become and Instructor</span>
            </button>
            <button class="btn bg-white border px-3 p-2">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </div>
</header>