{% load static %}
<!-- Sidebar Wrapper -->
<div id="sidebar-wrapper" class="shadow-sm">
    <button type="button" class="btn position-absolute menu-toggle"
        style="top: 60px; left: 15px; color: rgb(179, 179, 179);">
        <i class="fal fa-times fs-1"></i>
        <span class="sr-only">Toggle Menu</span>
    </button>
    <div class="py-5 d-flex">
        <img class="brandingLogo m-auto" src="{% static 'images/logo.png' %}" loading="lazy" />
    </div>
    <nav id="sidebar">

        {% with url_name=request.resolver_match.url_name %}
        <ul class="list-group p-3">
            <li class="list-group-item d-flex align-items-center gap-3 {% if url_name == 'dashboard' %}active{% endif %}">
                <i class="fal fa-layer-group fs-5"></i>
                <a href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li
                class="list-group-item d-flex align-items-center gap-3 {% if url_name == 'account_profile' %}active{% endif %}">
                <i class="fal fa-user fs-5"></i>
                <a href="{% url 'account_profile' %}">My Profile</a>
            </li>
            <li class="list-group-item d-flex align-items-center gap-3 {% if url_name == 'enrolled_courses' %}active{% endif %}">
                <i class="fal fa-book-open fs-5"></i>
                <a href="{% url 'enrolled_courses' %}">Enrolled Courses</a>
            </li>
            <li class="list-group-item d-flex align-items-center gap-3 {% if url_name == 'wishlist' %}active{% endif %}">
                <i class="fal fa-heart fs-5"></i>
                <a href="{% url 'wishlist' %}">Wishlist</a>
            </li>
            <li class="list-group-item d-flex align-items-center gap-3 {% if url_name == 'reviews' %}active{% endif %}">
                <i class="fal fa-star fs-5"></i>
                <a href="{% url 'reviews' %}">Reviews</a>
            </li>
            <li class="list-group-item d-flex align-items-center gap-3">
                <i class="fal fa-question fs-5"></i>
                <a href="#">My Quiz Attempts</a>
            </li>
            <li class="list-group-item d-flex align-items-center gap-3">
                <i class="fal fa-shopping-cart fs-5"></i>
                <a href="#">Order History</a>
            </li>
            <li class="list-group-item d-flex align-items-center gap-3">
                <i class="fal fa-comments fs-5"></i>
                <a href="#">Question &amp; Answer</a>
            </li>
            {% if not user.is_instructor %}
            <li class="list-group-item d-flex align-items-center gap-3">
                <i class="fal fa-cog fs-5"></i>
                <a href="#">Settings</a>
            </li>
            <li class="list-group-item d-flex align-items-center gap-3">
                <i class="fal fa-sign-out fs-5"></i>
                <a href="{% url 'account_logout' %}" data-no-instant="">Logout</a>
            </li>
            {% endif %}
        </ul>
        {% if user.is_instructor %}
        <span class="p-3">
            Instructor
        </span>
        <ul class="list-group p-3">
            <li class="list-group-item p-0 {% if url_name in "list_courses_published,list_courses_pending,list_courses_draft" %}active{% endif %}">
                <a class="p-3 d-flex align-items-center gap-3" href="{% url 'courses:list_courses_published' %}">
                    <i class="text-primary fal fa-tv-alt fs-5"></i>My Courses
                </a>
            </li>
            <li class="list-group-item p-0 {% if url_name == 'announcements' %}active{% endif %}">
                <a class="d-flex align-items-center gap-3 p-3" href="{% url 'announcements' %}"><i
                        class="text-primary fal fa-bullhorn fs-5"></i>Announcements</a>
            </li>
            <li class="list-group-item p-0 {% if url_name == 'withdrawals' %}active{% endif %}">
                <a class="p-3 d-flex align-items-center gap-3" href="{% url 'withdrawals' %}"><i
                        class="text-primary fal fa-wallet fs-5"></i>Withdrawals</a>
            </li>
            <li class="list-group-item p-0 {% if url_name in 'quiz_attempts,quiz_attempt_detail' %}active{% endif %}">
                <a class="p-3 d-flex align-items-center gap-3" href="{% url 'quizzes:quiz_attempts' %}"><i
                        class="text-primary fal fa-question fs-5"></i>Quiz Attempts</a>
            </li>
            <li class="list-group-item p-0">
                <a class="p-3 d-flex align-items-center gap-3" href="#"><i class="text-primary fal fa-copy fs-5"></i>Assignments</a>
            </li>
            <li class="list-group-item p-0">
                <a class="p-3 d-flex align-items-center gap-3" href="#"><i class="text-primary fal fa-copy fs-5"></i>Courses to
                    Teach</a>
            </li>
            <li class="list-group-item p-0">
                <a class="p-3 d-flex align-items-center gap-3" href="#"><i class="text-primary fal fa-users fs-5"></i>My Students</a>
            </li>
            <li class="list-group-item p-0 {% if url_name == 'analytics' %}active{% endif %}">
                <a class="p-3 d-flex align-items-center gap-3" href="{% url 'analytics' %}"><i
                        class="text-primary fal fa-analytics fs-5"></i>Analytics</a>
            </li>
            <li class="list-group-item p-0">
                <a class="p-3 d-flex align-items-center gap-3" href="#"><i class="text-primary fal fa-cog fs-5"></i>Settings</a>
            </li>
            <li class="list-group-item p-0">
                <a class="p-3 d-flex align-items-center gap-3" href="{% url 'account_logout' %}" data-no-instant=""><i
                        class="text-primary fal fa-sign-out fs-5"></i>Logout</a>
            </li>
        </ul>
        {% endif %}
        {% endwith %}
    </nav>
</div>


<div class="overlay menu-toggle"></div>